[2020-09-07 19:21] Daniel-VDM opened #17 "[Bounty] Multichain Integration"
# Multichain integration Spec

## Estimated Time
1-2 Weeks (+ PR Review time from Ren)

## Rewards
TBD

## Overview

[Multichain](https://medium.com/renproject/the-multichain-53e5f925ac2e) is a collection of functions, types, interfaces, and runtimes that can be implemented for any blockchain. Those familiar with the [Rosetta](https://www.rosetta-api.org/docs/welcome.html) spec by Coinbase will no

[2020-12-14 20:33] LeoHChen opened #19 "provide a prometheus/grafana setup guidance to validators"
# Description
Guidance on how to create a monitoring dashboard and setup alert for Harmony validators

# Context
From release v3.0.0, we start to support Prometheus local metrics via HTTP://127.0.0.1:9900/metrics

We need to provide a document on how to install the prometheus/grafana, how to setup telegram/discord alert, and provide a template of the dashboard for one validator.

For example, you

[2021-02-13 00:44] LeoHChen opened #1 "Harmony CLI using Rosetta SDK"
# Description
A Command Line Tool to query Harmony blockchain using Rosetta SDK.

## Context
Harmony supports the Rosetta API (https://www.rosetta-api.org/). A tool to query harmony blockchain data using Rosetta SDK would be an easy to use tool for scripting and query. The Rosetta end point provided by Harmony is https://rosetta.s0.t.hmny.io.

The Harmony submission of Rosetta support is here. (ht

[2021-02-16 00:51] LeoHChen opened #2 "Ganache support"
# Description
This bounty is to support [Ganache](https://www.trufflesuite.com/ganache) for Harmony blockchain.

## Context
Ganache is widely used for dApp developers to test smart contracts locally for fast iteration w/o interaction with testnet.
Since Harmony has full Ethereum RPC compatibility and EVM compatibility support, it should be possible to support a Ganache fork for Harmony blockchain.

[2021-03-06 02:26] Daniel-VDM opened #3 "Harmony Core Rosetta-API Extension"
# Description
* Implement balance tracking of staked ONE token for the Rosetta-API ([details](https://github.com/harmony-one/harmony/issues/3427)).
* Implement ALL staking transaction constructions for the Rosetta-API ([details](https://github.com/harmony-one/harmony/issues/3431)).
* Implement the `/call` endpoint for the Rosetta-API ([details](https://github.com/harmony-one/harmony/issues/3428)).

[2021-03-10 07:24] rlan35 opened #4 "[Bounty] Integrate VDF Rust implementation in harmony Go client"
# Description
VDF is one of the key component for Harmony's randomness generation. For more details about the use of VDF in randomness, read https://docs.harmony.one/home/general/technology/randomness. Harmony's current client implementation is in Golang and we've implemented a VDF in Golang here: https://github.com/harmony-one/vdf. The Golang VDF is functional but not performance-optimized. We wo

[2021-03-13 09:53] radykov commented on #1
What about wrapping around a current Rosetta CLI implementation ?
There is a Coinbase  supplied CLI which could be wrapped around for a quick win
https://github.com/coinbase/rosetta-cli

Would an implementation that wraps around that and provides sufficient testing be suitable ?

[2021-03-19 18:30] gupadhyaya opened #5 "Chainlink native integration to Harmony using Ethereum RPCs"
# Description
Currently chainlink is integrated using external initiators and adapters, which is blocking chainlink from deploying a price feed for harmony mainnet. If we can integrate chainlink directly to harmony without requiring the external initiator and adapter, chainlink can deploy the price feed fast.

## Context
Follow https://docs.chain.link/docs/running-a-chainlink-node to setup and run

[2021-03-19 18:35] gupadhyaya opened #6 "Integrate Connext with Harmony"
# Description
Integrate Connext and harmony. Connext is a state channel based bridging solution for ethereum compatible chains. This bounty will require deploying contracts, setting up router node and running.

## Context
Connext is a state channel based bridging solution that allows ethereum compatible chains to connect to each others via routers that act as liquidity providers.

Follow: https://

[2021-03-19 18:54] rlan35 opened #7 "[BOUNTY] Improve Harmony Python SDK"
# Description
We have a basic implementation of Python SDK: https://github.com/harmony-one/pyhmy. It has basic account and transaction functionalities but not as comprehensive as other SDK. The documentation of it is also not complete. We will need implementation of the missing rpcs, more documentation, example usage and test cases.

# Time Estimation

2-4 weeks

# Acceptance Criteria

- [ ] Sampl

[2021-03-19 22:18] LeoHChen commented on #1
@radykov , thanks for your interest.
Harmony uses rosetta api's network feature to support multiple shards.
I don't know if coinbase's cli support cross-shard transfer feature that Harmony supported.

Have you tried it on harmony's implementation? If that works, it will be a much simpler job then.

[2021-03-19 22:18] LeoHChen opened #8 "integrate blst library into harmony"
# Description
Add blst library support in harmony node program.

## Context
Harmony is using BLS signature to sign and verify the transaction blocks.
Currently, it is using the golang binding of herumi bls library (https://github.com/herumi/bls) to sign and verify.

However, there is a new BLS library using the same curve was developed (https://github.com/supranational/blst). It claims to have at

[2021-03-19 22:22] rlan35 opened #9 "[BOUNTY] Multichain integration"
# Description
For details please refer to the original issue: https://github.com/harmony-one/harmony/issues/3334

# Reward
$5000 equivalent of ONE tokens.

[2021-03-19 23:30] potvik opened #10 "HRC20 & HRC721 Subgraphs for Explorer"
# Description
HRC20 & HRC721 Subgraphs for Explorer

## Context
[background and why]

# Acceptance Criteria
* [ ] [description on how this bounty can be completed]
* [ ] [quantifiable criteria is better]

# Reward
[amount of tokens in ONE]

[2021-03-19 23:39] lijiang2087 opened #11 "Integration Indonesia Rupiah Token (IDRT) stablecoin on Harmony"
# Description

We are looking for someone to integrate Rupiah Token on-ramp fiat gateway API on our Harmony One wallet app. Rupiah Token (IDRT) is a stablecoin backed by fiat Indonesian Rupiah.

## Context

This will allow users of the One Wallet to hold and use IDRT for any merchant who accepts IDRT. IDRT is the most adopted Indonesian Rupiah stablecoin in the world.

# Acceptance Criteria

The t

[2021-03-20 00:01] lijiang2087 opened #12 "UMA integration on Harmony"
# Description

We are looking to integrate UMA protocol (Universal Market Access) on Harmony. This will allow applications built on Harmony to be able to work with UMA to build synthetic financial products.

## Context

UMA builds open-source infrastructure for “priceless” financial contracts. Specifically, this is two things:

Priceless financial contract templates used to create synthetic tokens

[2021-03-20 17:02] radykov commented on #1
Tested it on some commands on the Harmony endpoint and it allows you to specify shards.

But upon further inspection, coinbase's CLI only allows to look up block contents and account balances (apart from functionality to test the implementation)

Since it looks like all the Data, Construction, and Index API's are needed, a simple wrapping of the rosetta cli might not work

[2021-03-20 22:17] samhsiung commented on #7
I'm interested. Feel free to assign this to me.

[2021-03-20 22:57] marbar3778 commented on #8
Is there a preferred API or can we make a proposal for an api?

@decanus and I can work on this.

[2021-03-21 00:23] LeoHChen commented on #8
We currently has an interface in https://github.com/harmony-one/harmony/tree/main/crypto/bls, but it is only designed to support `"github.com/harmony-one/bls/ffi/go/bls"`, which is a fork of the https://github.com/herumi/bls.  You are free to use existing api so that you don't have to change most of the core code that rely on the bls signature signing/verification/serialization/deseralization.

Fe

[2021-03-21 00:26] LeoHChen commented on #7
Hi, @samhsiung , since this is a bounty, you can work on it by yourself and report the progress here.

[2021-03-21 21:49] lijiang2087 opened #13 "Completing Harmony Name Service with crazy.one domain auction"
# Description

Fully complete Harmony Name Service, similar to ENS Ethereum Name Service (https://ens.domains/) that will allow Harmony domains to be purchased and integrated with all Harmony related websites, wallets and applications.

## Context

The Harmony Name Service and the domain will become the ONE name for all of your addresses. No more copying and pasting long addresses. Use your ONE na

[2021-03-21 21:55] lijiang2087 opened #14 "ONE second finality on Harmony by upgrading our networking layer"
# Description

[a short paragraph to describe the bounty]

## Context

[background and why]

# Acceptance Criteria

* [ ] [description on how this bounty can be completed]
* [ ] [quantifiable criteria is better]

# Reward

$20,000 USD equivalent in ONE tokens

[2021-03-21 23:27] renlulu commented on #3
Hi teams, I am interested in this bounty project and #1. I have raised a PR to rosetta-sdk-go:

https://github.com/coinbase/rosetta-sdk-go/commit/e14de5aa05b1f5ea54056b7fba739e8af1d2c885

And also complete the integration for another public blockchain platform which makes more familiar with its tech stack. Would like to make some contribution here.

[2021-03-22 23:02] LeoHChen commented on #3
@renlulu , this bounty may involve quite some work, you have to be familiar with some of our internal data structure and code.  Why not you join in our discord server and have a deeper discussion.  https://harmony.one/discord

[2021-03-23 00:41] potvik opened #15 "Horizon Bridge Subgraphs"
# Description
Create **Bridge Tokens** and **Bridge Events** subgraphs based on https://thegraph.com

## Context
To simplify the work of bridge validators (to make them less loaded) - we need to move the collection of contract events to a separate service - a subgraph is best suited for this.

In total, we need 2 subgraphs:

### Bridge Events Subgraph

Monitor and store Events from all bridge cont

[2021-03-23 19:13] LeoHChen opened #16 "hummingbot integration to support Dex on harmony"
# Description
Build a DEX connector in hummginbot to connect to DEX on Harmony blockchain. (https://github.com/CoinAlpha/gateway-api)
Noted, hummingbot team is doing module refactoring, please keep a closer look and contact the hummingbot dev team for the contribution details.  This is an external bounty to hummingbot team. Their acceptance is the key criteria.

## Context
hummingbot is the decent

[2021-03-24 18:32] rlan35 commented on #7
Hi， @samhsiung we've added a few requirement on the transaction signing support and increased the bounty amount to $5000. If you still agree with the work. Feel free to continue.

[2021-03-25 01:51] samhsiung commented on #7
Hi, @rlan35 I saw @difengJ is already working on the bounty and has a PR up so I will let him do it. Actually, I make a lot from staking harmony already and just wanted to help out :) I can still put up PRs since I'm interested in using the python SDK in the future.

[2021-03-25 18:14] gupadhyaya commented on #7
we have increased the scope of this bounty and also the amount. what is submitted by difengj is only improving the rpcs: https://github.com/harmony-one/pyhmy/pull/14. you guys can split the tasks to expedite the process?

[2021-03-26 06:35] rlan35 commented on #9
original issue is transferred here.

[2021-03-26 06:35] #9 closed

[2021-03-26 07:51] LeoHChen opened #18 "[slashing] slash redundant nodes"
## Summary

Redundant external nodes running duplicated bls keys can cause network partition and forking as seen in the testnet. https://github.com/harmony-one/harmony/issues/3611

## Current Design

This is no penalty enforced on harmony network if validators run some redundant hot backup of the nodes with a duplicated set of blskeys.  We understand the validators want to keep the high 100% uptim

[2021-03-26 16:14] arekzb commented on #14
Hey,

Could you point me to a benchmark or test used to prove the 2 second finality ? I assume this was measured and tested and would serve as a good starting point for testing any performance changes.

If no test for testing finality performance exist, what is the closest set of steps or procedures you suggest ?

[2021-03-27 00:09] difengJ commented on #7
@gupadhyaya do we have to register in gitcoin first and start to work?

[2021-03-28 12:26] MohammedNagdy commented on #16
I don't understand what do you mean by arbitrage strategy between CEX and DEX? Because wouldn't the users of humingbot will be able to arbitrage across exchanges after deploying the connector?

[2021-03-29 00:59] fanglinlu commented on #16
I also have a question. Wondering what DEX are you specifically talking about here? Is it Viperswap?

[2021-03-29 01:00] fanglinlu commented on #16
Oh. I found the viperswap doc attached in this bounty. I guess it is viperswap then!

[2021-03-29 01:09] fanglinlu commented on #16
Also I am new to this bounty system. Wondering whether there is any way to let people know that I am working on this bounty already, or it is more a competitive thing, like whoever builds it the first will take the rewards?

[2021-03-29 01:25] fanglinlu commented on #16
Ok. Just started this project on Gitcoin to let people know I am working on it. Plan to start making some coding progress next week.

[2021-03-29 11:41] MohammedNagdy commented on #16
@fanglinlu I think we'll use venomswap protocol. Because visperswap exchange is built on top of this protocol. Am I right?

[2021-03-29 11:42] MohammedNagdy commented on #16
I also got notified the development team at humingbot about the PR for a heads-up.

[2021-03-29 23:14] MohammedNagdy commented on #16
@fanglinlu I found out that visperswap which is also venomswap is Uniswap fork and there's already an implementation of connector on Humingbot. I'm not sure how we're supposed to connect visperswap which has a subgraph of uniswap to Humingbot again?

Could you please explain it?

[2021-03-30 02:51] fanglinlu commented on #16
@MohammedNagdy I am new to this bounty system. It seems you are also interested in this bounty. Should we both work on it then? Also do you mean you notified the hummingbot development team or you got notified by the hummingbot team?

[2021-03-30 04:08] LeoHChen commented on #16
@fanglinlu , @MohammedNagdy as I mentioned, this is an external bounty to work on hummingbot.  Please actively engage hummingbot team for their new architecture to add the connectors.

[2021-03-30 04:45] MohammedNagdy commented on #16
@LeoHChen @fanglinlu  already notified the development team at humingbot and they're expecting our pull request. Plus @LeoHChen what you have in the bounty post isn't a connector it's an API gateway.

This is an example of a binance connector https://github.com/CoinAlpha/hummingbot/tree/master/hummingbot/connector/exchange/binance

[2021-03-30 16:47] lijiang2087 commented on #14
hey arekzb!

more info is here: https://medium.com/harmony-one/2-seconds-block-time-on-harmony-mainnet-aba78ee5643f

and you can also see our blocks finalizing in 2 seconds on mainnet at https://explorer.harmony.one

[2021-03-30 18:48] judeebene commented on #12
"To qualify as complete, application developers should be able to use UMA on Harmony to deploy any financial product that is made possible by UMA"

Does this mean
1. deploying a UMA smart contract or  whole protocol deployed on harmony? or
2. Access to the protocol . i.e building  the necessary interchain infrastructure to interact with UMA  from harmony

[2021-03-30 21:33] arekzb commented on #14
Hey,
Maybe I mis-spoke -
I'm familiar with the 2 second block timing :)
I have looked for performance tests or unit tests in historical changes that include timing and benchmarks of the Harmony p2p layer, dht, peer discovery and so, on. I have looked at releases that changed block time down to 2 seconds, but do not see empirical tests of the networking layer that prepared for the move from X secon

[2021-03-31 03:36] Bhargavamacha commented on #13
Hi there, this is Bhargava, I recently started work on this project. I have a few doubts:
1. Do I have to create the website from scratch or can I use the ens.domains as my base template?
2. Is this just the frontend part or I'll have to connect the backend also?
3. Will this thread be the primary mode of communication or is there another channel?

[2021-03-31 04:09] fanglinlu commented on #16
Mohammed, I wonder how we can collaborate on this one. Do you want to chat on telegram?

[2021-03-31 04:18] fanglinlu commented on #16
It seems sid from the hummingbot support team is asking the hummingbot team about building this connector. Mohammed, you also mentioned do a PR. Wondering whether there is any update on that?

[2021-03-31 04:46] fanglinlu commented on #16
I also just emailed the hummingbot team through here partnerships@hummingbot.io.

Here is a useful doc about how connectors are usually built https://hummingbot.zendesk.com/hc/en-us/articles/900004506986

[2021-03-31 06:11] MohammedNagdy commented on #16
@fanglinlu my telegram is @monagdy

[2021-03-31 06:33] alexeyneu commented on #11
so you offer 5 grands or two? I can do this, but no gitcoin

[2021-03-31 07:39] mul1sh commented on #8
@LeoHChen is this a bounty or has it been assigned to someone? Looks like it's already been assigned :)

[2021-03-31 18:44] jonathanchancey commented on #16
Would love to take a crack at this, got room on your team @fanglinlu @MohammedNagdy?

[2021-04-01 03:52] fanglinlu commented on #16
Hi Jonathan, feel free to add me on telegram: @fanglinlu

[2021-04-01 05:10] fanglinlu commented on #16
Ok. I created a fork of the hummingbot code and added you two as collaborators.

[2021-04-01 08:53] mognify commented on #4
I think you just do and document your work, then mark it complete when you finish, and the author of the bounty will select the winner(s)
this is just a guess tho. im also new and still looking into this stuff

[2021-04-01 11:01] MohammedNagdy commented on #16
Awesome @fanglinlu thank you, I'll start working today on the connector. I think we have to let @LeoHChen that us three are working together on the connector.

[2021-04-01 11:09] KevinKelley commented on #4
thanks @mognify ...I'm proceeding like that, hopefully it's right lol

[2021-04-01 12:05] fanglinlu commented on #16
This link is about the steps we need to follow for contributing to the hummingbot codebase https://github.com/CoinAlpha/hummingbot/blob/master/CONTRIBUTING.md

[2021-04-02 04:49] fanglinlu commented on #16
This doc seems useful too https://docs.hummingbot.io/developer/overview/

[2021-04-03 17:22] fanglinlu commented on #16
Update from Hummingbot CEO Michael today:

There's no documentation yet for Hummingbot Gateway since its architecture and base code is still in flux. Since we're still designing how best to support various L1 and L2 protocols ourselves, we don't yet support external developers building on it, although we freely encourage you to fork it and make use of it as you see fit. In 2-3 months, Gateway's ar

[2021-04-04 15:06] deepface19 commented on #11
Tell me more specific how about it , did you want to intergration IDRT GATEWAY with PINTU or other . this need a specific a document your company, KYC , and Wallet company
contact my email kangadull19@gmail.com

[2021-04-04 17:42] nikbhintade commented on #2
hey @LeoHChen, can you explain the last acceptance criteria.

- [ ] A prebuilt Harmony blockchain image on Ganache

This one. Does this mean a truffle box for harmony?

[2021-04-05 01:52] sunguru98 commented on #15
Hey @potvik, I have created the solutions for the asked requirements, and will paste it down
https://github.com/sunguru98/bridge-token - Token Subgraph
https://github.com/sunguru98/bridge-events - Events Subgraph

I have also updated the same over @gitcoinbot as well ..

[2021-04-05 16:11] #15 closed

[2021-04-06 20:47] LeoHChen commented on #2
@nikbhintade , thanks for your question and interest.

There is already a harmony box created in truffle box after I created this bounty, https://www.trufflesuite.com/boxes/harmony-box

Have you tried to deploy local network of Harmony?

I would like to see one more truffle box created with additional examples as part of this bounty.

[2021-04-06 22:18] #13 closed

[2021-04-06 22:26] LeoHChen commented on #4
Thanks @KevinKelley for your interest and progress.  Since it is a bounty, everyone can work on it.  Once you finished, you just submit.  The bounty owner will pick the winner(s) then.  You may also work in group if you would like to.

A regular progress and ask for feedback would be helpful so that you won't waste time working on some wrong direction though.

[2021-04-06 23:29] bmgalego commented on #10
Hey @potvik I builded the subgraphs for hrc20 and hrc721.
I don't think it possible to build subgraphs for transactions blocks, the block handlers for subgraph only gives the block not transactions.
Here is the repo for the hrc20 and hrc721 subgraph. If you know a way to track all transaction blocks from thegraph plz ping me.
https://github.com/bmgalego/harmony-tokens-subgraph

let me know if I ne

[2021-04-07 01:12] gupadhyaya opened #20 "ethers.js provider for wrapping harmony rpcs"
# Description
ethers.js recently added a facility to define custom transaction structure along with provider wrapper, which makes it easy for providers that needs specialized transaction construction. ethers/v5.1.0 (2021-03-30 14:44) release includes this feature. as part of this bounty, create a wrapper that fully implements all `hmy_` rpc methods listed in https://api.hmny.io.

## Context
Curren

[2021-04-07 21:53] ntsanov commented on #1
I've been doing work on the task for the last few days but seems that https://rosetta.s0.t.hmny.io/ is down since yesterday. I got to construction part but seems that the faucet only works for shard 0 and can't really test much at this point. Any Idea when it will be up again ?

[2021-04-08 09:12] Shr1ftyy commented on #20
Should the wrapper be able to call API v1 or v2?

[2021-04-10 00:05] rlan35 opened #21 "Peruse documentation and instructions in https://docs.harmony.one/home/"
# Description
We would like to have someone from the readers/users perspective to go through the content in https://docs.harmony.one/home/ and find all issues such as inconsistency, wrong instruction, bad links, outdated content, typos etc.

# Acceptance Criteria
* Read carefully through every single section and try out all instructions to make sure there is no confusing content.
* Pinpoint as man

[2021-04-10 03:12] gupadhyaya opened #22 "[Ledger] Fix edit validator bug for removing bls key"
# Description
Currently, there is a bug in the ledger firmware (https://github.com/harmony-one/ledger-app-one) that prevents validators from signing an edit validator transaction that tries to remove the bls key. All other edit validator options work correctly, only the `remove-bls-key` option fails with following error: `Couldn't sign staking transaction, error: Error code 0x6802`. This error may

[2021-04-10 03:26] gupadhyaya commented on #20
both. at least v2 for considering.

[2021-04-10 03:47] gupadhyaya opened #23 "Make @truffle/hdwallet-provider work for Harmony"
# Description
Currently we are unable to use `@truffle/hdwallet-provider` (https://www.npmjs.com/package/@truffle/hdwallet-provider) for harmony network. Somehow the network_id/chain_id is omitted when signing txs using Harmony's ETH compatible chain ids (https://docs.harmony.one/home/network/wallets/browser-extensions-wallets/metamask-wallet).

## Context
The error is as shown below, when you run

[2021-04-10 04:20] LeoHChen opened #24 "Export transaction records as CSV format"
# Description
Export all the transaction records of one account as CSV file.

## Context
As requested by community members, it would be good to have an export function in our explorer to support download all the transaction records for certain account in a zipped CSV file format.

For example, all Tx for this account https://explorer.harmony.one/#/address/one1ycus2qrrdem5dx6g09mzdcqvkng8az9fq6hh36

[2021-04-10 05:54] LeoHChen opened #25 "Research: nnet integration to support message broadcast to all nodes"
# Description
This is a research project.  The goal is to explore the integration of nnet
(https://github.com/nknorg/nnet) into harmony nodes to replace the global pubsub interface.

## Context
Currently, Harmony node is using pubsub module of libp2p (https://github.com/libp2p/go-libp2p-pubsub) to send messages within shard and cross-shard.  pubsub in libp2p is chosen to ensure the network resilie

[2021-04-11 00:00] yilunzhang commented on #25
Let me provide some information on the nnet side.

The first thing I would recommend is to check nnet repo https://github.com/nknorg/nnet and get a feeling of what nnet does.

Then I would recommend taking a look at example directory, especially `efficient-broadcast` example showing how to use tree broadcasting to efficiently broadcast messages.

A few caveats I can think of:
* nnet requires node

[2021-04-11 17:09] hack3r-0m commented on #20
@gupadhyaya as ethers.js abstract RPC calls over functions, so calling `getTransactionsCount()` will translate to `"method": "hmyv2_getTransactionsCount"`, but I don't find any way in abstract provider to convert it to `"method": "hmyv2_getTransactionsCount"`, can you point me to code in ethers which can help to change to `hmyv2_` prefix ?

[2021-04-12 15:20] Rajesh-Veeranki commented on #7
I would like to work on this. It seems so far no one added this feature
1. signing support for normal and staking transactions, and smart contract deployment/interaction features

Let me know if anyone else is working on it. Else I will start the work by looking at the go-sdk and porting it to python

[2021-04-13 01:44] LuttyYang commented on #24
well done

hey guys. i have finished the develop work. can you have a check here(https://harmony-dashboard.vercel.app). let me know if there is any issue for it

[2021-04-13 04:39] javipus commented on #21
Hi! I'm working on this bounty but I can't find the repo containing the source of the docs served by https://docs.harmony.one/home

How should I report errors if I can't open issues or PRs? Thanks in advance.

[2021-04-13 05:10] LeoHChen commented on #24
@LuttyYang In general, it looks pretty good. I tried it and it works now with metamask. A few comments.

1. please submit a PR to our repo
2. please put the button to download at the right bottom corner of the transaction list, similar to what etherscan have
3. the output file name with the account number in the filename
4. cache the generated zip file to make it less load on server, maybe cache f

[2021-04-13 05:31] #5 closed

[2021-04-13 05:35] LeoHChen commented on #24
Example on etherscan,
![image](https://user-images.githubusercontent.com/4513927/114501697-56ba6300-9bdf-11eb-84dd-80530520321b.png)

[2021-04-13 05:36] rlan35 commented on #21
It's served using gitbook: https://app.gitbook.com/@harmony-one/.   you can add your founding in this github issue as text or if you want, in a google doc.

[2021-04-13 06:44] LeoHChen commented on #19
@JB273 can you please verify and sign-off the PR submitted? Thanks.

[2021-04-13 07:46] harjas27 commented on #5
Hi @gupadhyaya, regarding your comment on the PR https://github.com/harmony-one/harmony/pull/3637, how should I proceed for the bounty as this issue is closed and the corresponding bounty on gitcoin is cancelled

[2021-04-13 12:54] LuttyYang commented on #24
Completely accepted your feedback.It looks like this now:

![image](https://user-images.githubusercontent.com/14296262/114555579-69de3900-9c9a-11eb-918c-6c0dbc5f3758.png)

[2021-04-13 12:55] LuttyYang commented on #24
PR is here: https://github.com/harmony-one/harmony-dashboard/pull/147/files

[2021-04-14 01:57] mearaj commented on #4
Hi,
My name is Mearaj Bhagad and I am interested in working on this task.

I have a question regarding Rust VDF into a Go library. (Just for clarification)
My question is that if an equally good implementation of VDF in pure golang is done, will it be acceptable or
it's a hard requirement of Rust's VDF implementation to be binded/interfaced to golang's wrapper/library.
I hope you got me.
Thanks :)

[2021-04-14 02:34] KevinKelley commented on #4
@mearaj hi... I'm not the owner.  I'm just working it too...

My understanding is that, the purpose is to get Rust FFI implementation for the speed improvement.

There is already a Go implementation, but owner wants faster, and the Rust seems to win.

I have made progress.  I have Rust-FFI working fine, and timings seem to track exactly with those of the Rust version...

For me... I'm working now

[2021-04-14 02:35] KevinKelley commented on #4
I'll say that I don't have much in the way of profiling and timing though.  I would think that's important, to document the speedup and decide whether it's worth the trouble...

Gut feeling and based on the results so far,, I think it is.

[2021-04-14 12:17] mearaj commented on #4
Thanks @KevinKelley for the reply :)

[2021-04-14 19:01] JB273 commented on #19
All checked, good to go!

[2021-04-14 20:20] gupadhyaya opened #26 "Bridge dashboard with full statistics"
# Description
Currently https://bridge.harmony.one/tokens page shows only TVL stats. This bounty needs to update the assets page into a full dashboard containing:
* total asset bridged (in $value, considering both ways, tvl represents only locked value)
* total bridge transaction count
* daily transaction chart
* number of unique bridge accounts
* total number of unique bridged assets
* total tran

[2021-04-14 20:42] hypnagonia opened #27 "Contract verification tool"
# Description
Create a verification contract tool
compare byte code written on an address with byte code compiled by the tool from source code handed as github link
should work for all solc versions

here's initial draft
https://github.com/harmony-one/harmony-contract-code-verification-tool

# Acceptance Criteria
should return true when source code matches the code written on the address

# Reward

[2021-04-14 23:07] rlan35 commented on #21
Sure, this is the invitation: https://app.gitbook.com/invite/harmony-one?invite=-LiOoxDbXDhge1O8GSyp

[2021-04-15 05:40] LeoHChen commented on #1
@ntsanov is it still an issue?  what's the error did you see?

[2021-04-15 05:40] LeoHChen commented on #19
This bounty is done.

[2021-04-15 05:40] #19 closed

[2021-04-15 05:41] LeoHChen commented on #24
this bounty is done.

[2021-04-15 05:41] #24 closed

[2021-04-15 06:26] LeoHChen opened #28 "hmy cli governance support"
# Description
An initial support of governance app on hmycli tool

## Context
hmycli is a command line tool used to interact with harmony blockchain. Since harmony launched governance app, (https://governance.harmony.one), there is a requirement to have hmycli support interaction with the governance app, especially for validators that do not want to import their account private key into either met

[2021-04-15 07:35] ntsanov commented on #1
It's working now. I'm not sure when it went up, cause I was testing on shard 1 last few days but it was down for at least 2 days. It seemed like the service was down but the proxy was working - it was returning 502 Bad Gateway

[2021-04-15 09:50] xf3rnox commented on #21
@rlan35 I'm not able to edit the default wiki after accepting the invitation; can you verify my permissions? My username is @f3rno, thank you! ([wiki home](https://app.gitbook.com/@harmony-one/s/home/))

[2021-04-15 12:27] karbafoo commented on #20
hello
Ive made the provide https://github.com/karbafoo/ethers.js
still need some fixes and cleaning. ive tried to put everything under harmony folder.
currently testing but no problem found yet.
signed staking needs little bit work.

any feedback would be great

[2021-04-15 16:55] bmgalego commented on #10
I updated my repo, I found a bug tracking the Blits nft. Also improved the subgraph manly on tracking nfts better and better api for querying.
@potvik @gitcoinbot

[2021-04-15 18:16] kevdez commented on #1
Just for clarification, this issue is for implementing the Data API portion of Rosetta into a cli, correct?

[2021-04-15 18:23] rlan35 commented on #21
We can not give edit access for now, since there is no easy control on who has permission to merge changes and who don't. I would recommend just put your suggestions in a google doc. We will have to review and edit it before commit to gitbook anyway.

[2021-04-15 20:14] lijiang2087 opened #29 "Harmony ONE token integration with Trezor"
# Description
[a short paragraph to describe the bounty]

## Context
[background and why]

# Acceptance Criteria
* [ ] [description on how this bounty can be completed]
* [ ] [quantifiable criteria is better]

# Reward
[amount of tokens in ONE]

[2021-04-16 03:00] LuttyYang commented on #28
hey guys. i have finished the develop work. let me know if there is any issue for it

PR: https://github.com/harmony-one/go-sdk/pull/244

[2021-04-16 03:04] LuttyYang commented on #28
it look like:

![image](https://user-images.githubusercontent.com/14296262/114965425-21de3280-9ea3-11eb-8e7f-8155cedaa89c.png)
![image](https://user-images.githubusercontent.com/14296262/114965440-29054080-9ea3-11eb-9a74-f726971bc790.png)
![image](https://user-images.githubusercontent.com/14296262/114965475-39b5b680-9ea3-11eb-930d-6715ab472899.png)
![image](https://user-images.githubusercontent.co

[2021-04-16 03:12] LeoHChen commented on #28
@LuttyYang looks pretty good!  Let me review the PR.

[2021-04-16 14:11] LuttyYang commented on #28
@LeoHChen PR updated, most of the comments have been optimized

[2021-04-16 18:49] SuleymanNas opened #30 "Hi"
# Description
[a short paragraph to describe the bounty]

## Context
[background and why]

# Acceptance Criteria
* [ ] [description on how this bounty can be completed]
* [ ] [quantifiable criteria is better]

# Reward
[amount of tokens in ONE]

[2021-04-16 21:04] rlan35 commented on #4
yes, that's the purpose. Thanks for working on it. Do you mind giving us a rough estimate on when your work can be done?

[2021-04-16 22:50] KevinKelley commented on #4
@rlan35 I'm expecting to have ready to review, in a few days, likely by early to mid-week.

I'm sure there will be comments or requests or further work, before final acceptance..

[2021-04-18 12:54] ntsanov commented on #1
I've submited my work. Will welcome some feedback :)

[2021-04-18 17:32] bmgalego commented on #27
I submitted a bounty it uses a different approach in trimming the deployed bytecode, it also allows to get the metadata information out. I implemented the solution using the documentation provided here https://docs.soliditylang.org/en/latest/metadata.html#encoding-of-the-metadata-hash-in-the-bytecode
this also allows to implement other solutions to get the source code using IPFS or Swarm

also hav

[2021-04-19 18:19] hapob commented on #21
Hello @rlan35 I expressed my interest in the bounty, I'am wondering if you still need a help?

[2021-04-19 21:44] LeoHChen commented on #8
@boler99 thanks for the submission.

[2021-04-19 21:46] mindstyle85 commented on #28
hello @LuttyYang , i have been testing it on our testnet and came to this while trying to vote on an open proposal:

[code]

besides this, I am unsure of a few things:
- can key be a one address too, otherwise they need to know how they named the keystore, if thats even possible?
- vote option i saw you selected choice=a yet i dont see anywhere listed what choice a is? i tried both choice=a and ch

[2021-04-20 13:51] LuttyYang commented on #28
@mindstyle85

1. suggestion is nice, but when you import a private key, you will name a private key, so most user should know the name they set
2. the option is listed in `view-proposal` command
3. I have updated the cookbook, you can check it

[2021-04-20 13:55] LuttyYang commented on #28
@mindstyle85

In your test, error is `no permission`, this means that the key you provided does not have the permission to vote

[2021-04-20 14:02] mindstyle85 commented on #28
Thank you @LuttyYang

1. for the option in view-proposal i guess its `Choose : Agree / Disagree` then, and its case sensitive?
2. for the permission, that cant be, i am an elected validator on testnet with it:
[code]

and you can see my validator elected here: https://staking.harmony.one/validators/testnet/one1xjanr7lgulc0fqyc8dmfp6jfwuje2d94xfnzyd

Unless there is a need to pass network in voting

[2021-04-20 14:12] LuttyYang commented on #28
@gitcoinbot

1. Your guess is correct，its case sensitive now
2. The proposal `QmbAcnx9yyHmuP1X8N6wofJ3sn7G92BrafguUN1wTicmiX` has some mistake, It declares that it is on the mainnet, you can check it here: https://gateway.ipfs.io/ipfs/QmbAcnx9yyHmuP1X8N6wofJ3sn7G92BrafguUN1wTicmiX

[2021-04-20 14:13] LuttyYang commented on #28
You can test this proposal `QmNSD3ySRdQ6Uuy5jqMRPTUuK2SLdSbvo31zvVyDw69spg`

[2021-04-20 14:26] mindstyle85 commented on #28
ah i see

i tried two new ones since the one you mentioned i already voted on before the CLI, and it worked :) will move on to testing creating a proposal

[2021-04-20 14:34] mindstyle85 commented on #28
whats the structure for the yaml file actually? is it the same structure as in list proposal or something else?

[code]

[2021-04-20 14:35] LuttyYang commented on #28
@mindstyle85

You can use this example:
[code]

[2021-04-20 15:00] mindstyle85 commented on #28
ok tested it and it worked. Can this somehow be added to the cookbook? And also with a note that the time is in UTC, thats important

[2021-04-20 15:19] LuttyYang commented on #28
@mindstyle85 Thanks

Has been added to the cookbook, the PR is here(https://github.com/harmony-one/go-sdk/pull/246)

[2021-04-20 16:08] sophoah commented on #28
hey @LuttyYang when the vote is closed we have this behavior :
[code]
I was confused at first and didn't know why i didn't have have any IPFS back. Could you add a message saying the vote is closed ? thanks

[2021-04-20 16:25] LuttyYang commented on #28
@sophoah fixed, the PR is here(harmony-one/go-sdk#246)

[2021-04-20 17:19] #30 closed

[2021-04-20 18:08] Dewansahil opened #31 "Harmony ONE integration with Argent smart contract wallet"
**Description**

Enable support for Harmony ONE and HRC20 assets on Argent Wallet (https://www.argent.xyz)

**Context**

Argent is a non-custodial, smart contract mobile wallet, with novel social recovery features and strong security. Our community is excited to use Argent for Harmony assets.

Once integration is complete, users can access DeFi Applications on Harmony via the Argent mobile app. Th

[2021-04-20 22:24] LeoHChen commented on #8
This bounty is done.  High quality submission. Due to the base point is different between Harmony and Eth2, we can't merge the PR right now.  Thanks for finding the issue and we will find a solution on the base points, then merge fix.

[2021-04-20 22:24] #8 closed

[2021-04-21 01:21] gupadhyaya opened #32 "Harmony <> Terra bridge"
# Description
Harmony wants to connect to Terra for bridging mirrored assets and UST stable coin. This bounty will add Harmony chain support to terra's bridge.

## Context
Currently Terra's bridge powered by Shuffle supports connecting to Ethereum and Binance Smart Chain. The bridge is hosted: https://bridge.terra.money/, documentation: https://docs.mirror.finance/user-guide/terra-bridge, bridge c

[2021-04-21 01:38] #23 closed

[2021-04-21 05:49] LeoHChen commented on #28
good work, bounty is closed.

[2021-04-21 05:49] #28 closed

[2021-04-21 07:12] LeoHChen commented on #1
@ntsanov , I've reviewed your PR.  It's pretty close to what I am looking for. Can you add a travis ci build/test support into your repo so that I can see the build status of the repo? The test would ideally cover all the API endpoints of rosetta.

[2021-04-21 08:43] ntsanov commented on #1
Sure I will do that today or tomorrow evening

[2021-04-21 12:32] spiritbro1 commented on #11
hello in gitcoin it said only $1185
![image](https://user-images.githubusercontent.com/62529025/115554092-4d648100-a2d8-11eb-9b84-7afcafee448d.png)
but in this issue you said $5000 bounty which one is true?

[2021-04-21 17:23] GabrielNicolasAvellaneda commented on #2
@LeoHChen I understand exactly what you want and why nobody made it yet. I looked into the Ganache internals and tried some stuff. What you want is actually to create a Ganache integratoin as this is not just pointing the JSON RPC client to the localnet. Today Ganache has integration for Ethereum, Filecoin and CORDA all work very different.

So the goal here is to:
1. Fork Ganache
2. Update to run

[2021-04-21 18:38] #20 closed

[2021-04-21 19:44] LeoHChen commented on #16
we are closing this bounty for now with the advice from Hummingbot's CEO.  Will re-open a new one once the new gateway architecture is more clear and standardized for external contributors.

[2021-04-21 19:44] #16 closed

[2021-04-21 19:53] LeoHChen commented on #2
@GabrielNicolasAvellaneda , I think you have elaborated the goals of this bounty very well! Thanks for your insightful comments. I am not an expert of Ganache myself but I think what you have described matches my thinking.  Harmony supports a local net setup with multiple local nodes, either one shard or two shards. We usually start localnet to test changes.  Ganache will be a nice frontend to int

[2021-04-21 20:36] gupadhyaya opened #33 "Integrating Harmony chain to Celo's optics bridge"
# Description
This bounty will add Harmony blockchain to the set of blockchain supported in Celo's optics bridge. Optics is a gas-efficient interoperability standard for general cross chain communications. The key benefits of optics are ([source](https://twitter.com/_prestwich/status/1384919330232709124?s=20)):
* One-to-many communication. One outbox sends messages to any number of chains
* No dep

[2021-04-21 21:09] GabrielNicolasAvellaneda commented on #2
@LeoHChen Glad to here this. We have a deal. Thanks for the additional information. I will keep updated. Thanks!

[2021-04-21 21:39] prestwich commented on #33
we'd be willing to share a preview copy of the code for this sort of project. assuming harmony still uses the ETH RPC it should be straightforward to deploy something

[2021-04-21 23:07] gupadhyaya commented on #33
thanks @prestwich yes, harmony uses eth rpcs. how far are you guys along in terms of the implementation? would you be willing to share the preview copy with harmony? or any other ways to make this work? really liked the optics's one-size-fit-all approach.

[2021-04-21 23:16] prestwich commented on #33
We are at private testnet deploys with EVM chains. Alpha versions of the full contract suite + the off-chain agents that run everything. A few missing features, but overall in good shape. Happy to share a preview copy as long as you're comfortable with a rough draft :)

[2021-04-22 00:26] gupadhyaya commented on #33
@prestwich awesome. thank you. could you add me to relevant repos?

[2021-04-22 01:08] prestwich commented on #33
yeah, give me a couple days to do some cleanup and commenting

[2021-04-22 07:53] ntsanov commented on #1
I've added the travis build/config and tests for data endpoints as well
In order to be run on a fork, following ENV must be set in travis settings panel:
PRIVATE_KEY - whenever this env is preset, no keystore is used but this private key is used for signing instead
FROM_ADDRESS  - address of the private key provided
Some amount of ONE would need to be transferred to this test wallet in order for t

[2021-04-22 08:49] bmgalego commented on #32
I have added support to harmony chain in both repos, shuttle and bridge-web-app.
https://github.com/bmgalego/bridge-web-app
https://github.com/bmgalego/shuttle

To test:

1. clone both repos
2. in shuttle/contracts fill .env file, edit migrations/24_deploy_minter.js add public address of signers and run "truffle migrate --network hmy_testnet" and save contract addresses
3. in shuttle/eth and shutt

[2021-04-22 17:14] rob-lw commented on #21
Hi @rlan35.
I have made a submission in this format here:
https://github.com/rob-lw/HarmonyOne/blob/main/HarmonyOne%20Peruse%20Documentation%20And%20Instructions.pdf.

Please let me know if I need to do anything else.

[2021-04-22 17:50] rlan35 commented on #14
There wasn't recorded performance measurement but more of a empirical testing on the real network before we decided 2 second finality is possible on our mainnet. The real-world network condition is hard to replicate in a benchmark setting so instead of measuring exactly that 1 second finality is achieved, you can instead measure the p2p network performance for example, the time it takes to broadca

[2021-04-22 18:18] GabrielNicolasAvellaneda commented on #2
@LeoHChen I already started working on the Ganache integration. I've found Ganache pretty buggy but it's not a big deal. I started from the develop branch which is the main branch but I decided to start over but with the beta branch which is for the next release, this way the merge will be easier and we will have more changes that they will accept the integration as official. That's all for now.

[2021-04-22 21:40] JackyWYX opened #34 "`harmonyConfig` v2.0.0"
## 1. Description

`harmonyConfig` is the data structure used to store toml data for node configuration, which is usually named as `harmony.conf` persisted on disk when node-operators start the harmony node. (https://github.com/harmony-one/harmony/blob/main/cmd/harmony/config.go#L19)

This config data structure has gone through quite a few small updates since August 2020, from v1.0.0 to v1.0.5. No

[2021-04-23 04:49] LeoHChen commented on #1
Thanks @ntsanov .  This is good.  I think we can get it closed.

[2021-04-23 19:47] Brianspha commented on #27
@hypnagonia what kind of a solution are you looking for?

[2021-04-23 22:23] rlan35 opened #35 "Integrate Account Abstraction Implementation as in EIP-2938"
# Description
Integrate the Account Abstraction feature as proposed in [EIP-2938](https://eips.ethereum.org/EIPS/eip-2938) into Harmony's core protocol logic using the reference implementation in https://github.com/quilt/go-ethereum. Note this won't be a simple merging since Harmony's EVM implementation has minor difference from the ethereum's implementation.

## Context
Harmony is a fully Ethereu

[2021-04-23 23:39] #1 closed

[2021-04-25 10:42] ntsanov commented on #34
I have submitted my work in gitcoin but have not done PR yet. I wanted to explain first what my idea is and how the implementation works and comment on it if necessary.

## General
The idea is to migrate any config version that we open to the current. Since the config file is toml, it seemed like an obvious choice to "mutate" the toml tree. In order to do that we define a config migration func dec

[2021-04-25 15:24] hawad86 commented on #31
Is this site working properly? (https://api.harmony.one). How to switch Argent Mobile app to harmony network?

[2021-04-26 02:13] LeoHChen opened #36 "[feature] design and implement redundant validator setup"
# Description
Design and implement a new feature of redundant validator mode in harmony node

## Context
Currently, harmony validators can run multiple redundant validator nodes at the same time w/o being penalized by signing the same block more than once. It is allowed to keep higher uptime of the blockchain nodes. However,  this setup will `NOT` be allowed in the near term once the protocol enab

[2021-04-26 21:51] Dewansahil opened #37 "Front End for Harmony Blockchain Explorer v2"
**# Description**
Build a front end for Harmony Block Explorer.

**## Context**
The existing block explorer can be found here: https://explorer.harmony.one/#/

We received feedback from the community around improving the stability, features and UI of Harmony Explorer. With the growth in applications and assets on Harmony (HRC20, HRC721), the types of transactions that the explorer needs to track i

[2021-04-26 23:10] rlan35 commented on #21
Thanks @rob-lw that's a great job! Let us proceed with the reward of $3000 for your contribution.

[2021-04-27 08:46] TheAlgorhythmicGuy commented on #22
Has the bug been fixed yet?

[2021-04-29 07:33] nelsonmfinda commented on #1
Hi @LeoHChen, why you closed this issue? I can see here https://gitcoin.co/issue/harmony-one/bounties/1/100025310 this bounty is open.

[2021-04-29 17:32] #21 closed

[2021-04-29 19:46] alazare619 opened #38 "0x Api intergration platform used by dex.guru and many others"
# Description
Intergrate with existing liquidity api provider 0x

## Context
0x is the foundation for alot of existing platforms such as poocoin.app or dex.guru  this will substantial grow our usability and adoptability do to increased functionality for harmony one users. Some links below for reading on.

https://blog.0xproject.com/0x-protocol-is-now-live-on-binance-smart-chain-d9329fc974ad
https:

[2021-04-30 06:32] BrunoMarshall opened #39 "analytics.harmony.one"
# Description
**analytics.harmony.one** is planned to be a platform where Harmony users can see all metrics dashboard for harmony ecosystem.
Basically the website will be public and will have a dashboard with metrics taken automatically from:

**_Social media:_**
Twitter (followers+tweets+retweets)
Youtube(views+subscribers)
Reddit(followers+messages)
Facebook (engagement,likes,follows)
Telegram (

[2021-04-30 06:46] BrunoMarshall opened #40 "ONE & HRC20 Holders project"
# Description
Website Dashboard that collect and display data for all Harmony address balances & selected HRC20 tokens with one button deployment.

## Context
Suggested familiarity with Javascript, React/Vue, SQL/Other DB, Docker

**Week 1**
Data collection (fast enough to update data every minute) stored in database of choice
Account balances & amount staked in the network
**Week 2**
Website to d

[2021-04-30 20:45] bhuff122 commented on #39
Love Harmony ONE 💖

[2021-04-30 21:09] LeoHChen opened #41 "[feature] expose all configuration variables and values"
# Description

We need to expose all configuration variables and values to the log file and RPC interface.

An option/flag in the configuration to print all configuration variables and their values in the log file, as a way to debug the configuration changes.

Also, a new RPC interface to expose all configuration variables and values, similar to the following RPC interface.

[code]

## Context
Har

[2021-05-01 04:28] gupadhyaya opened #42 "[BTC Bridge] Rust client & react web-based dashboard for staked relayers"
# Description
Harmony is in the process of building a trustless bridge to Bitcoin using Interlay's XCLAIM protocol. There are several components of the bridge. A staked relayer is a client implemented in rust that receives block headers from bitcoin core and relays them to the onebtc contracts on Harmony.

This bounty needs to port Interlay's PolkaBTC staked relayer rust client to Harmony, which i

[2021-05-01 04:31] gupadhyaya opened #43 "[BTC Bridge] Rust client & react web-based dashboard for vaults"
# Description
Harmony is in the process of building a trustless bridge to Bitcoin using Interlay's XCLAIM protocol. There are several components of the bridge. Vaults are the heart of the OneBTC bridge. They are responsible for maintaining the physical 1:1 peg between BTC and OneBTC. Vaults receive BTC for safekeeping from users and ensure BTC remains locked while OneBTC exists.

This bounty needs

[2021-05-02 06:00] LeoHChen commented on #2
any update or help needed @GabrielNicolasAvellaneda ?

[2021-05-02 21:11] GabrielNicolasAvellaneda commented on #2
Hey @LeoHChen I've got the harmony blockchain to work with Ganache as we want but still I need to complete the integration. I used the harmony-test blockchain for this test and there are some things that I need to figure out yet. Something that could be helpful is if you can point me to some example of how I can set a genesis configuration for the localnet to set a list of accounts instead of usin

[2021-05-03 10:22] Tailchakra commented on #40
Is there a specific language that is wished to be used? eg is using PHP (Laravel) to fetch and store data in MySQL prohibited? Frontend would be done with VueJS in the same repo. Laravel Sail would be used to deploy with docker.

[2021-05-03 11:52] mul1sh commented on #22
I think I've fixed this issue as noted earlier, just testing it out now :)

[2021-05-03 13:30] GabrielNicolasAvellaneda commented on #2
Hi @LeoHChen, Nevermind, I've found a way around now for setting up the initial accounts so I'm wrapping things up.

[2021-05-03 15:46] gupadhyaya commented on #33
@prestwich when u get a chance. No hurry. thanks.

[2021-05-03 19:14] harjas27 commented on #17
Hi, I have a submission here - https://github.com/harjas27/multichain/tree/bounty-17
Importing the harmony repo as a go module requires it to be build successfully with `go build` but because of the `bls` repo it was not possible(requires additional step because of the flags). So I have forked the harmony repo and used the bls go library in it  and used my fork in the go mod in the submission (thi

[2021-05-03 19:16] harjas27 commented on #4
Hi
I have a submission here https://github.com/harjas27/vdf-wrapper. Please review

[2021-05-03 19:37] Severino commented on #26
Hi,
I'm still working on this, but I can't finish it today.
Will this still be opened tomorrow, as the time is running out?

[2021-05-03 21:10] KevinKelley commented on #4
I've submitted as well; I have to admit that mine is not as cleanly finished as I wish.  Eye infection kept me offline for a while.
@harjas27 submission looks cleanly and well done...

[2021-05-03 23:08] GabrielNicolasAvellaneda commented on #2
@LeoHChen I've submitted my solution. I will record a video now and do some minor improvements. Hope you like it.

[2021-05-04 06:07] GabrielNicolasAvellaneda commented on #2
Repository https://github.com/GabrielNicolasAvellaneda/harmony-one-ganache-support
Demo Video https://github.com/GabrielNicolasAvellaneda/harmony-one-ganache-support/blob/main/docs/demo-ganache-harmony.mp4

[2021-05-05 15:12] LuttyYang commented on #36
hey guys. i have finished the develop work. let me know if there is any issue for it

PR is here: https://github.com/harmony-one/harmony/pull/3689

[2021-05-05 15:21] LuttyYang commented on #36
It can active by pass these ways:
1. startup parameter `--run.backup=true`
2. `IsBackup = false` in toml config
3. `hmy_setNodeToBackupMode` command in json-rpc

this is json-rpc example
[code]

[2021-05-05 15:36] LuttyYang commented on #36
this is demo video:

https://user-images.githubusercontent.com/14296262/117168364-a6650680-adfa-11eb-8aeb-32262cf8bc97.mp4

[2021-05-05 22:25] Brianspha commented on #27
@hypnagonia

[2021-05-06 23:54] gupadhyaya commented on #17
thanks @harjas27 can you make a PR to upstream repo? https://github.com/harmony-one/multichain

[2021-05-07 03:37] gupadhyaya commented on #22
@mul1sh do you have the fix yet? thanks.

[2021-05-07 06:16] mul1sh commented on #22
@gupadhyaya Yes, but let me push tomorrow once I have tested in a nano X device which I'm purchasing today. So far I have done all my testing on a nano S, but I want to see if the fix works in the nano X and then I push 🙂

[2021-05-07 15:11] harjas27 commented on #17
@gupadhyaya opened a PR here https://github.com/harmony-one/multichain/pull/3. Please review

[2021-05-08 03:23] GabrielNicolasAvellaneda commented on #2
Thanks @LuttyYang for your suggestions!

1. Regarding the Dockerfile we could do FROM localnet-test but I will propose to change the localnet-image to do not remove the harmony directory. https://github.com/harmony-one/harmony-test/blob/master/localnet/Dockerfile#L18 and I will override the the entrypoint on my Dockerfile. Otherwise we will need to git clone harmony repository again in the derived

[2021-05-10 14:33] mul1sh commented on #22
It's still crashing for some reason in the nano X, it's what i'm fixing now

[2021-05-10 15:07] gupadhyaya commented on #22
got it. thanks @mul1sh please update here once you have the fix ready.

[2021-05-10 15:37] LuttyYang commented on #2
Thank you for your hard work, looking forward to your change

[2021-05-11 07:43] micperr commented on #29
Hi guys, any news on this one?

[2021-05-13 05:28] GabrielNicolasAvellaneda commented on #2
Hi @LuttyYang @LeoHChen

I fixed items 1, 3 and 4.. Item 2 the best option is do provide a release .AppImage this way is easier for our users. No build needed, we will do this after we move/fork the repository to harmony-one organization.

I will complete item 5 and add some more improvements during this during this weekend.

![bech32-block-details](https://user-images.githubusercontent.com/124810

[2021-05-13 23:32] gupadhyaya commented on #17
thanks @harjas27 for your PR. as per the bounty requirement, can you also pull all harmony commits and make a PR to upstream? https://github.com/renproject/multichain

[2021-05-18 07:08] GabrielNicolasAvellaneda commented on #2
Hey @LeoHChen @LuttyYang

I completed all the request changes **plus some additional improvements**.\
Here are the latest changes:

1. Fixed the search for blocks and transactions which was also showing incorrect units
2. Fixed transaction listing, which was not always showing results due to the production of blocks of every 2 seconds
3. Fixed the private key listing, which was not working properl

[2021-05-18 09:43] philippfo9 commented on #33
is still open as a bounty?
a colleague & I would love to work on this as a collab 😄

if so could you provide us with an invite for the relevant repos?

[2021-05-20 18:53] gupadhyaya commented on #33
thanks @prestwich
The repo is made available here: https://github.com/celo-org/optics-monorepo

[2021-05-20 18:54] gupadhyaya commented on #33
right now the round1 is closed. we will be opening the round2 sometime next week, which will go on for 2 months. All the current incomplete bounties will be rolled over. keep an eye on the announcement. thank you.

[2021-05-20 19:00] prestwich commented on #33
Open sourced it this morning. Somewhat delayed. We're targeting public testnets at end of month

https://github.com/celo-org/optics-monorepo

[2021-05-20 19:20] gupadhyaya commented on #33
thanks @prestwich
in your opinion, how does this integration work? I believe there should be a single deployment of the optics bridge supporting multiple chains to maximize the interoperability (between any two supported chains) and not sacrifice security.
would Celo be willing to integrate harmony into your deployment via this bounty? if the integration is straightforward, we could make it into y

[2021-05-22 05:27] GabrielNicolasAvellaneda commented on #2
Hi @LeoHChen @LuttyYang Do you know why this happen?

[2021-05-23 13:52] lijiang2087 opened #44 "Port / Build the PoolTogether dApp on Harmony"
# Description

Port PoolTogether (https://github.com/pooltogether) from Ethereum to Harmony mainnet.

## Context

We are looking for a team to port PoolTogether from Ethereum and launch it on Harmony mainnet. This will be a simple way for new users to enter into crypto using it as a stable "savings account" with the chance to earn upside.

As PoolTogether's co-founder Leighton Cusack said on Twitt

[2021-05-24 15:46] LuttyYang commented on #2
@GabrielNicolasAvellaneda @LeoHChen

Thanks for your feedback, Looks very good.

I tested most of the scenes and found no problems.

[2021-05-25 02:38] GabrielNicolasAvellaneda commented on #2
@LuttyYang @LeoHChen Awesome! Glad to hear this. BTW, thanks for your testings and feedback.

Can we then consider this as complete so we can move on to other harmony one needs?
BTW, I made the submission on round one before it closed. What are next steps?
Thanks!

[2021-05-28 02:53] KevinKelley commented on #25
Sorry to see this one de-funded; it actually looks pretty interesting to me.

[2021-05-29 03:16] edowiratno opened #45 "Go"
# Description
[a short paragraph to describe the bounty]

## Context
[background and why]

# Acceptance Criteria
* [ ] [description on how this bounty can be completed]
* [ ] [quantifiable criteria is better]

# Reward
[amount of tokens in ONE]

[2021-05-31 23:38] championofsteel commented on #29
I dont think anyone is working on this anymore

[2021-06-01 08:38] mul1sh commented on #22
Is this bounty still open, it looks like it  was cancelled but it's part of the harmony round 2 hackathon.

[2021-06-02 23:43] JackyWYX opened #46 "[DRAFT] Pprof module extension"
# Description

Extend the [harmony node's](https://github.com/harmony-one/harmony) Pprof service with some advanced developer options.

## Context

[Pprof](https://golang.org/pkg/runtime/pprof/) is a golang tool for resource profiling, e.g. CPU, memory, goroutine, e.t.c, which is powerful for developer to discover and resolve performance and memory leak issues.

Currently, Harmony program only sup

[2021-06-03 05:31] givp opened #47 "Social Change Game"
# Description
Social Change Game is an app that will reward participants and also help fund various philanthropic causes.

## Context
The game will allow users to enter the round by sending a set number of ONE tokens to a DAO address. Once the round has ended, 3 random users will receive a portion of the prize from the pot. The rest goes to the DAO for philanthropic causes.

**Example:**

- 100 ON

[2021-06-03 05:46] givp opened #48 "ONE World: Geospatial NFT Marketplace"
# Description
ONE World is a collectible NFT marketplace for real-world locations on planet Earth.

## Context
By definition, a geospatial location is one-of-a-kind, complete with its own unique identifier such as a postal address and GPS coordinates.

Allowing users to “own” a small part of planet Earth is not exactly a new concept. Social platforms such as  Foursquare’s Swarm relied on users “ch

[2021-06-03 22:21] gupadhyaya commented on #22
@mul1sh any update on this? thanks.

[2021-06-04 03:26] 19Clemente92 commented on #46
nice

[2021-06-04 09:48] freyala commented on #47
Would like to take this on. Is there a way that I can get in contact to fully discuss the details of this project and bounty?

Cheers!

[2021-06-04 11:12] mul1sh commented on #22
@gupadhyaya I thought the issue had been cancelled, so I stopped working on it. If it's still open, I'll PR by this coming Tuesday 🙂

[2021-06-04 16:14] givp commented on #47
@freyala awesome! I can discuss the project with you. Just hold on while we create the Gitcoin entry for it.

[2021-06-04 18:50] givp commented on #47
@freyala please see the instructions ☝️

[2021-06-04 20:52] LeoHChen commented on #47
You may utilize the on-chain VRF random number generator in the game. That's a special feature of harmony protocol.

[2021-06-04 20:53] #45 closed

[2021-06-04 20:54] #2 closed

[2021-06-05 05:29] dB2510 commented on #47
@givp @LeoHChen Can I take this up?

[2021-06-05 05:34] dB2510 commented on #48
@givp I am interested to take this up. Can we connect to discuss the details?

[2021-06-06 03:59] givp commented on #48
@dB2510 great! Hit me up on Discord so we can jump on a call and discuss. giv#5499

[2021-06-06 04:01] givp commented on #47
@dB2510 Let's chat. Discord giv#5499

[2021-06-06 07:25] dB2510 commented on #48
@givp My discord username is dB2510#5333

[2021-06-06 08:27] LeoHChen opened #49 "bigquery support on google cloud platform"
# Description
Make Harmony blockchain data available on google GCP [bigquery](https://cloud.google.com/bigquery)

## Context
Google BigQuery provides a powerful interface for data queries and analyses.
We would like to make Harmony blockchain data available on Google BigQuery, as [public data set](https://cloud.google.com/bigquery/public-data).

For example, the following lists the current public

[2021-06-06 16:50] xenowits commented on #49
I m interested @LeoHChen . Should I take this up?

[2021-06-08 20:47] LeoHChen commented on #25
Hi, @KevinKelley , I don't think this bounty was canceled.  It was just moved from round one to round two since it wasn't finished in round one.

[2021-06-08 20:51] LeoHChen commented on #49
sure, @xenowits , you may start, we are adding it to our gitcoin bounty round two.

[2021-06-08 23:39] KevinKelley commented on #25
@LeoHChen Ahh.  Good... I'll see what I can do with it :)

[2021-06-09 02:34] xenowits commented on #49
Thanks! Started work

[2021-06-09 02:53] deepface19 commented on #48
nice will build it
discord : TheVanquiser#4831

[2021-06-09 03:44] dB2510 commented on #43
@gupadhyaya Is this bounty listed on gitcoin? Is it open?

[2021-06-10 16:48] studybug commented on #49
I am happy to help too!

[2021-06-12 14:22] vhhsc5 commented on #25
sdfsd

[2021-06-15 01:21] chrisneuf opened #50 "One Canvas: A Decentralized Collaborative Canvas on Harmony One"
# Description

One canvas is a 1 million pixel decentralized canvas where users can paint individual pixels on a collaborative canvas.
This concept is similar to [pixelcanvas.io](www.pixelcanvas.io) but instead each pixel is stored on the harmony protocol.

## Context
### How it works
The canvas consists of 1 million pixels that can be individually colored. When users color a pixel they are prompt

[2021-06-15 02:33] LeoHChen commented on #47
Some example of how to call the VRF in the smart contract can be found here. https://github.com/harmony-one/harmony/issues/3719

[2021-06-15 19:27] papiofficial commented on #43
@dB2510 https://gitcoin.co/issue/harmony-one/bounties/43/100025919

[2021-06-15 20:21] LeoHChen commented on #41
@touhonoob, there is an issue opened for this bounty, would you please take a look? https://github.com/harmony-one/harmony/issues/3781

[2021-06-15 20:36] #37 closed

[2021-06-16 00:00] rlan35 opened #52 "Implement a sharded network connectivity structure for efficient intra/inter shard communication"
# Description
Harmony is a sharded blockchain where there are 4 shards each with hundreds of nodes doing consensus in parallel. The p2p network behind Harmony is based on libp2p. The network structure now is a fully meshed network where all nodes from all shards are randomly connected with each other without the sharding structure considered. When a validator in a shard needs to broadcast a messag

[2021-06-16 20:02] renlulu commented on #52
By saying `network structure`, do you mean something like `A Kademlia DHT`? so basically we could probably assign one DHT per shard which is only for broadcasting within the shard.

[2021-06-16 20:11] rlan35 commented on #52
It's not about message routing. It's about network topology where nodes within the same shards are well connected and there is less connection between shards. This way, message broadcasting can be within a shard and doesn't have to travel through all shards.

[2021-06-16 20:22] renlulu commented on #52
Okie, thanks for your clarifying, would like to dive a bit deeper on current implementation to see if I could help on this improvement.

[2021-06-17 06:20] sprect8 commented on #47
@LeoHChen does that call randomize once per block?

[2021-06-17 11:53] adam505hq opened #53 "scaffold-harmony: DApp Template / Sandbox enviroment."
# Description
Harmony Dapp Template to encourage newcomers and web2.0 developers to participate and play around in sandbox environment with possibility to build upon and deploy to testnet. This can be potentially used on future Hackatons to speed up creation of projects.

## Context
The purpose of this bounty is to answer _"How do I start developing on Harmony?"_ by extracting most essential eleme

[2021-06-17 13:24] sriram-vasudevan commented on #26
is this open still?

[2021-06-17 14:09] gupadhyaya commented on #22
it is still open @mul1sh https://gitcoin.co/issue/harmony-one/bounties/22/100025513, can you submit your work?

[2021-06-18 02:18] shikamarumind opened #54 "Harmony <> ICON BTP Bridge"
# Description
This bounty will add Harmony blockchain to the set of blockchains supported by ICON's BTP interoperability solution. BTP is a decentralized cross-chain data transfer protocol that allows cross-network smart contract interactions, cross-network token transfer, cross-network NFT transfer, and more.

## Context
The team needs to develop 3 smart contracts for the Harmony protocol, 1 cont

[2021-06-18 05:39] BrunoMarshall commented on #48
Hi, I´m from Harmony dev captions, i will contact you  in discord to check if you need support, I´m happy to help

[2021-06-18 08:55] dB2510 commented on #48
It would be great.

[2021-06-18 14:14] Pemidi commented on #50
The link of "pixelcanvas.io" is not working!

[2021-06-18 14:44] mul1sh commented on #22
@gupadhyaya Sure will do over the weekend, thanks for clarifying 🙂

[2021-06-18 17:26] #32 closed

[2021-06-18 17:27] #27 closed

[2021-06-18 17:27] gupadhyaya commented on #29
this is still open.

[2021-06-18 17:28] #34 closed

[2021-06-18 17:30] #41 closed

[2021-06-18 17:35] DylanCkawalec commented on #53
" SmartPress" - The word press for building Smart Contracts: I love the idea. In theory, I already see this being used by many beginners. Many coaches and mentors would let students play with this application to send fake money to their friends in a Local Network.

I support this project, mainly because I know how critical of a promotional tool education program's can become. All of my students wo

[2021-06-20 19:12] secretnamebasis commented on #53
This seems pretty cool.

I was thinking to myself today that I wanted to get into Harmony development because I couldn't find what I was looking for on the Harmony Network.

And so now I am doing my best.

[2021-06-21 11:55] drspinosa opened #55 "Harmony Pay - WordPress Plugin"
### Project Overview

This bounty is to create a WordPress payment getaway for WooCommerce based e-shops and market places that vendors and customers can transact using Harmony ONE coins and HRC20 tokens.

### Description

This is Stage 1 of a multi stage project to create payment systems.
In this stage the team will develop a simple payment getaway WordPress plugin for WooCommerce pages. The plug

[2021-06-22 19:52] LeoHChen commented on #52
noted, the network topology has to be changed with every resharding configuration.  I don't see this design fit before the resharding.  It has to go with the design and implementation of resharding.

[2021-06-24 02:49] sandrogomes94 commented on #47
Hello @givp, i dont found in docs how connect to to harmony wallet using the SDK, i can are using web3 and metamask?

[2021-06-24 04:16] givp commented on #47
@sandrogomes94 did you see this? https://docs.harmony.one/home/developers/wallets/onewallet/introduction

[2021-06-24 05:06] sandrogomes94 commented on #47
I will see now, thank you!

[2021-06-24 15:00] y04nqt opened #56 "Update Documentation Copy (Bounty Creation Inprogress)"
# Description
The https://docs.harmony.one/home/ needs updating around grammar, spelling, and clarity. I will provide proofread copy per page and notes to make appropriate edits per page. The goal of this bounty is to make the harmony docs improved by bettering the overall grammatical copy to help instill trust into our developer community at large. Improving the docs with this easy lift will catc

[2021-06-24 18:49] givp opened #57 "Create AWS Cloudwatch Synthetics Canary scripts for testing RPC endpoints"
# Description
Create AWS Cloudwatch Synthetics Canary scripts for every RPC method and workflow. See [UI example here](https://github.com/harmony-one/harmony/issues/3789). This bounty only requires the creation of the syn-nodejs-puppeteer scripts.

## Context
To continuously monitor the health of the [Harmony API endpoints](https://api.hmny.io/#2cd1b3c9-2e76-4362-865b-24a95819cf44), we need a set

[2021-06-25 03:03] Zerquix18 commented on #57
Hello, I did some research on this and I feel confident that I can do it. I'd like to confirm that my approach is the right one:

I had a first successful test deploying the Canary with the AWS CDK and the nodejs script. I'm thinking about generating all the templates from an array that specifies the _method_, _params_, and result, ​this would be a CDK stack, easy to deploy, change and destroy.

I

[2021-06-25 03:03] quantum-guy7 commented on #57
@givp Can I take it up? I hv experience in both AWS & Nodejs

[2021-06-25 03:15] givp commented on #57
@Zerquix18 you can go ahead and start the bounty via gitcoin. AWS CDK could be a nice way to manage the canary tests! Regarding reward amount. This value will be adjusted based on current ONE market price.

[2021-06-25 03:16] givp commented on #57
@quantum-guy7 absolutely. But multiple folks can start working on the same bounty. A winner will be selected based on the quality of delivery.

[2021-06-25 13:14] deepface19 commented on #48
done giv check your dm discord

[2021-06-25 15:29] zheli commented on #57
Question regarding the bounty:
1. Can I use Terraform to create the CloudWatch canaries?
2. Should I create one canary for each method call or one canary for all methods call? Not sure how will that affect the integration with the status page and that's why I am asking. :slightly_smiling_face:

[2021-06-25 15:35] givp commented on #57
@zheli yes you can use Terraform. We need a separate canary for each method so we can monitor the status of each endpoint. But like I mentioned above, some canaries could contain multiple requests to test transactions.

[2021-06-25 19:10] renlulu commented on #3
@LeoHChen I have submitted work on gitcoin side too.

[2021-06-26 04:27] Zerquix18 commented on #57
Just submitted my work :) Thought I would explain a little bit of what I did:

This file contains all the RCP methods to be tested: https://github.com/Zerquix18/harmony-cloudwatch/blob/master/lib/methods.ts
Includes their params, host and what the `result` should be.

The CDK then builds all canaries for all methods, including a bucket for the logs and alarms: https://github.com/Zerquix18/harmony-

[2021-06-26 16:25] deepface19 commented on #48
done bro check my repo and check your dm discord
i have been update somethin new

[2021-06-27 09:50] zheli commented on #57
Just submitted my work as well. It's doesn't have the alert or S3 bucket creation part, but that can be added easier later.

Some implementation details are written here: https://github.com/zheli/harmony-cloudwatch-synthetic-canary-scripts/blob/main/README.md

I will improve some of the test scripts some time today.

[2021-06-27 17:40] givp commented on #57
Thank you. I will review shortly.

[2021-06-27 23:14] mellertson commented on #42
FYI, I just copied the project readme to get started.  I will update it as work progresses.

[2021-06-28 07:52] zheli commented on #57
Fixed some mistakes in my README to make it more clear.

[2021-06-30 14:11] 776699y opened #58 "HarmonyⅡ"
# Description
[a short paragraph to describe the bounty]

## Context
[background and why]

# Acceptance Criteria
* [x] [description on how this bounty can be completed]
* [x] [quantifiable criteria is better]

# Reward
[amount of tokens in ONE]

[2021-06-30 17:44] touhonoob commented on #53
Made a MVP here: https://github.com/scaffold-harmony/generator-scaffold-harmony
I will polish the project then try to create a demo later.

[2021-07-01 15:57] SkArchon commented on #50
Hi @chrisneuf I am interested working on this (in fact have done some minor preliminary work), but was wondering on how I could contact you on the harmony discord for further clarifications.

My particular query is on the criteria of `At least 500 users/addresses interact`, I would like to avoid this part of the acceptance criteria and do more of a handover of the work done, please do let me know

[2021-07-01 16:01] chrisneuf commented on #50
Hi @SkArchon this project is already being worked on by me, I am not on the harmony team. The harmony team is funding me to build this project.

[2021-07-01 20:16] sandrogomes94 commented on #47
I have create a minimal interface and the smart contract, can you give me your feedback? Thank you.

[2021-07-02 00:07] gupadhyaya commented on #56
thanks @y04nqt for proposing this bounty. Do you have an estimation of the amount of work required in terms of number of hours?

[2021-07-02 00:35] givp commented on #47
@sandrogomes94 DM me on Discord so we can chat `Giv | Harmony.one#5499`

[2021-07-07 03:08] #57 closed

[2021-07-07 17:10] beingOptimusP commented on #56
i have read the docs, and yeah do agree about the spellings and also there are some bugs in the code snippets as well, I can look after them, if you need my help, thanks

[2021-07-07 17:23] y04nqt commented on #56
@gupadhyaya My estimate for the entire thing would take roughly 10-15 hours worth of work in total. I have the majority of copy done that would need to get pasted over the current copy. I have not yet published the incomplete work here to set this bounty up for ready to be worked on. I'll try to find time to update this bounty further to progress it along. @beingOptimusP Once I post the copy, you'

[2021-07-08 16:40] adam505hq commented on #55
Love this.
_WooCommerce facilitated over $20 Billion of sales in 2020_ :guitar:

[2021-07-10 00:19] cankisagun opened #59 "Harmony - Secret Network bridge"
# Description
This bounty will create a bridge between Harmony and Secret Network. As a result,
- Alice (on Harmony) will be able to move Harmony assets to Secret Network as privacy tokens (SNIP-20) and have access to a privacy first and front-running resistant DeFi ecosystem.
- Bob (on Secret Network) will be able to transfer Secret Network assets to Harmony blockchain and access Harmony dApp eco

[2021-07-10 12:55] touhonoob commented on #53
Demo Videos of my submission:

- Intro: https://youtu.be/RThMOFCN-0M
- Auto-reload: https://youtu.be/2iEv3VrNLjA

[2021-07-11 08:58] adam505hq commented on #53
@touhonoob Thank you for your submission.  We will check that out in upcoming days.

[2021-07-12 19:11] gupadhyaya commented on #22
@mul1sh any update? if there is a blocker, I can take a look as well. thanks.

[2021-07-12 19:24] #58 closed

[2021-07-13 14:29] drspinosa commented on #55
Hi all

I was away on Holiday and just back home. I just logged in to see that this project has been approved.
Bare with me to get my head around this method of working.
If anyone wants to DM me send a message on tweeter @drspinosa

Lets build something amazing

Best Regards
Adam

[2021-07-14 12:40] drspinosa commented on #55
### I would like to make some additional notes and clarifications

This plugin **must** achieve the same or similar functionality for $ONE and HRC20 tokens.
Any recommendations for improvements are welcome and will be discussed.

There is an auto settlement function using Binance API this should work and tested. However the developer(s) that manage to change that to auto settlement function using

[2021-07-14 14:42] y04nqt commented on #56
[Consensus.edited.docx](https://github.com/harmony-one/bounties/files/6816889/Consensus.edited.docx)
[What Is Harmony Page.edited.docx](https://github.com/harmony-one/bounties/files/6816890/What.Is.Harmony.Page.edited.docx)
[transactions.docx](https://github.com/harmony-one/bounties/files/6816891/transactions.docx)
[Tokenomics.edited.docx](https://github.com/harmony-one/bounties/files/6816892/Toke

[2021-07-15 06:06] romanzac commented on #59
Hi there, may I know which code is actually used for deployed Horizon bridge at https://bridge.harmony.one/ ?

[2021-07-15 15:49] vikramIde commented on #53
good job bro

[2021-07-17 17:27] #47 closed

[2021-07-20 05:11] gupadhyaya commented on #59
bridge.harmony.one contracts are in https://github.com/harmony-one/ethhmy-bridge

[2021-07-20 18:17] anweiss commented on #43
Given that many of the ONE<>BTC bridge and relay contracts are incomplete relative to the ONE<>BTC spec, is it sufficient to have placeholders in the ported code sections for which there is not yet an equivalent contract function that can be executed? Otherwise, it's very difficult to port the Vault client without a full understanding of the logic behind both the spec and the contracts as they are

[2021-07-20 18:26] papiofficial commented on #43
@gupadhyaya ^

[2021-07-21 15:41] DylanCkawalec opened #60 "Harmony Tap to Pay with multi-sign wallet"
# Description
This Application will live on a mobile **Android/iPhone** or **smartwatch** will be a new gateway for the public to trade digital assets in person using a simple to use, mobile fiat bridge. With the tap of a phone, the two devices that are in range to accept payments will sense the radius of the transfer using a smart code that both parties share before the transfer begins. This will

[2021-07-22 04:00] romanzac commented on #59
May I have a consultation about possible architecture ?  I thought with couple of assumptions, not sure your expectations are in-line:
1) Bridge will be hosted at https://bridge.scrt.network/
2) Leader/signer architecture to be preserved for now with potential improvements in the futureZ

Proposal of how it might work is in the attached picture. The quickest path to have working prototype I can se

[2021-07-23 03:28] matthewwoop commented on #22
Is this still open season? @gupadhyaya

[2021-07-23 16:43] drspinosa commented on #55
UPDATE

I have finished the majority of the landing page. Anyone who wishes to comment or contribute let me know.
[pay.dezigne.co.uk](https://pay.dezigne.co.uk/)

Still there is time to work on this project. just ask me any questions you may have.

[2021-07-23 17:29] sekmet commented on #55
Hello Mr. Adam,
I have been working on this. I'm currently working on the API server/manager (nodejs based) to monitor the payments.  I hope get a solution in the next hours.
Thank you!
Carlos Guimaraes

![Screenshot from 2021-07-23 14-15-26](https://user-images.githubusercontent.com/3760421/126819249-2172e62a-c90b-4d36-ae50-d00e7e758ac1.png)
![Screenshot from 2021-07-23 14-16-07](https://user-ima

[2021-07-24 12:04] ty1b commented on #26
Hello, I'm using the horizon bridge subgraph that was linked in the description to query data, it lacked certain stats (total asset bridged, tx fees), I added those, but there was still a mismatch of data returned by the subgraph and the one returned by the bridge hmny api.

[2021-07-25 16:44] touhonoob commented on #53
Released 1.2.0: https://youtu.be/Wd6NLh5gf04

[2021-07-25 22:09] thecyberd3m0n commented on #48
Please check our work with Akash and Kinga https://github.com/r3plica-f0rc3s.

[2021-07-26 07:49] Cashmaney commented on #59
Hey @romanzac, thanks for taking the time to look into this!

That architecture looks pretty accurate. There are some more nuances, but I think you have the big picture.
I'll just add that we have a link to our bridge leader/signer (here)[https://github.com/enigmampc/EthereumBridge] in case you haven't seen it.

In regards to the assumptions -
1. Not 100% sure where this will be hosted - I think w

[2021-07-26 16:45] Gruce commented on #55
Such a great work!

[2021-07-26 16:57] drspinosa commented on #55
Hi Carlos

It's looking very good. The project is still open if need to contact me for more info available at discord drspinosa#4023

Thanks
Adam

[2021-07-26 17:23] drspinosa commented on #55
Hi All

I almost finished the landing page for this project and you might find it useful to read [pay.dezigne.co.uk](https://pay.dezigne.co.uk)

[2021-07-26 22:39] gupadhyaya commented on #50
@chrisneuf are you ready to make a submission for this?

[2021-07-27 05:20] gupadhyaya commented on #43
we have extended the deadline till aug 9th and by then, we will try to get all the contract interfaces figured out at least. feel free to keep making progress and keep us posted. thanks.

[2021-07-27 10:42] drspinosa commented on #40
Hi
I might be able to help with his by working and bringing 1-2 people together.
Do you have more details. As part of the project I can write clearer project objectives possibly a mind map and project flow.

What is it that you envisage achieving?
a web based dashboard that takes information for say Harmony wallets and display all your HRC20 assets?
A place where a wallet is not required to be con

[2021-07-28 18:12] #6 closed

[2021-07-29 15:02] drspinosa commented on #55
A Discord group is ready please join and lets chat :)
[https://discord.gg/v5DphJaP](https://discord.gg/v5DphJaP )

[2021-08-04 00:29] #3 closed

[2021-08-04 00:29] #36 closed

[2021-08-08 12:22] jotagep commented on #53
I submit my solution a few days ago
https://github.com/jotagep/harmony-dapp-template

Demo video here: https://youtu.be/ys7dtz1YvpM

I hope you like it 😉
Thanks guys

[2021-08-08 19:54] DylanCkawalec opened #61 "Harmony Validator Installer / Launchpad / Management Interface *"
# Description
## You provide the validator node server:
We’ll help you create, configure & manage your node from the first steps. Any provider running an Ubuntu 20.04LTS Server to run a Harmony Validator Server Node will be compatible with the application.
[Watch this Demo Video](https://www.youtube.com/watch?v=ydvMXFDrHwg&t=9s)

You own your node, you own your private data. The application will u

[2021-08-09 11:29] mul1sh commented on #22
Sorry @gupadhyaya I was a bit caught up the lat 2 months, but this week I have some free cycles and will solve this issue and PR.

[2021-08-09 16:17] patrickmogul commented on #61
Hello, I'm accepting the work on this bounty.

[2021-08-09 16:47] #60 closed

[2021-08-10 03:37] Estelle544 commented on #60
I downloaded a wallet like you explained. Thank you for the reminder.

[2021-08-10 09:50] Severino opened #62 "Add ONE logo to MetaMask"
# Description
When connected to BSC or Ethereum on MetaMask the appropriate icon of the coin is shown.
On Harmony it's currently just an empty circle.

Implement the Harmony Logo in the MetaMask extension, so that the ONE coin is shown properly.
The logo can be found here: _LINK TO LOGO_
| BSC (example) | Harmony (target) |
|---|---|
| ![metamask-harmony-01](https://user-images.githubusercontent.c

[2021-08-10 22:57] toniton commented on #53
Nice work @jotagep! Tutorial is on-point too. 😍

A few suggestions:
1. Is it possible to put the generators in the master branch. (Considering cloning the repository and run a command such as `yarn build` to generate the base skeleton of the project).
_My assumption is that when this is published, using the generator would be the most preferred option._
2. There could be more clarity if the folder

[2021-08-11 00:26] jacksteroo commented on #61
Note that there is a difference between a (registered & elected) Validator node, vs. a Full node (or fully-sync'ed node).  A Full node can have all the elements of being a Validator-ready node, with BLS keys, and is fully sync'ed up to the latest block height.

Sounds like this bounty comes with nearly all the tooling necessary to create a Full node which can be turned into a Validator node (menu-

[2021-08-11 07:51] jotagep commented on #53
@toniton Thanks for the appreciation mate 😃

Yes, I have considered putting the generator on the master branch but some developers prefer to download the repo directly so I put it in a separate branch and uploaded to npm.

About `.vscode` & `.editorconfig` i think to add to `.gitignore` but i could be useful to new developer that want to start to initiate on Solidity have an extension recommendati

[2021-08-13 04:44] patrickmogul commented on #61
Hello @jacksteroo

I've taken the time to split the "installer" portion of this off into it's own repository, setup 3 different installation paths:

Regular Validator Node Setup - w/ option to restore wallet for registered/elected validators
Full Node Setup - Sets up harmony files and databases, leaves the wallet untouched, for fully synced nodes
Manual Setup - Choose y/n to do each step in the pr

[2021-08-16 11:40] srstomp commented on #43
A bit late. But is it still open @gupadhyaya ? On the bounties is has the status open.

[2021-08-17 04:56] textrocr commented on #62
Hi! Is the task still open? And any incentives associated with it? Looking forward to resolve the issue

[2021-08-17 05:08] Severino commented on #62
Hi @textrocr,
thanks for your interest, it was just a idea/draft of mine so far. I have no feedback of the team yet. Therefore no incentive so far.
Due to hackathon I don't expect much activity 😅 But at least you'll get github notifications when something changes.

[2021-08-17 06:05] textrocr commented on #62
Ah! Thanks for the update!

[2021-08-17 18:00] givp commented on #50
@SkArchon we are closing out this bounty by the end of this week. Please let us know if you're still working on this, else it will be canceled.

[2021-08-17 19:29] givp commented on #25
@KevinKelley are you still working on this? We are aiming to close out this bounty this week if not.

[2021-08-17 20:16] #17 closed

[2021-08-17 20:17] givp commented on #43
@srstomp It is open but we were planning to close it by end of this week. Are you actively working on it? Do you have an ETA?

[2021-08-17 20:19] givp commented on #42
@mellertson are you still working on this bounty? We are aiming to close it out by end of this week.

[2021-08-17 22:45] fzgem18 opened #63 "[BTC Bridge] oneBTC RPC in Rust"
# Description
oneBTC RPC in Rust

## Context
[background and why]

# Acceptance Criteria
* [ ] [description on how this bounty can be completed]
* [ ] [quantifiable criteria is better]

# Reward
[amount of tokens in ONE]

[2021-08-17 23:00] toniton commented on #53
Great job! @touhonoob Simple and straightforward. 👏

You may consider:
1. It would be helpful for a newbie, if you could add some form of transcript in the demo video, indicating what actions are currently running. _(some background music if you want to be fancy too)_
2. There seems to be no clear way to create a build or generate the scaffold without going through NPM. It'd be nice to have an alt

[2021-08-18 04:58] spharrison opened #64 "Quadratic Voting with Bands"
# Description
To balance and align economic, community and participatory interests in Harmony-centric DAOs - quadratic voting with bands is needed.

This Bounty is focused on Phase 1 of the implementation: Deploying the Mechanism to Snapshot.  When designing the solution - keep in mind that Phase 2 is to deploy the Mechanism on-chain.

**Phase 1: Quadratic Voting with 4 Bands Deployed to Snapshot*

[2021-08-18 23:53] jacksteroo opened #65 "Trust Wallet staking integration"
# Description
Review the Trust Wallet staking integration that was reverted (see [revert PR on trustwallet](https://github.com/trustwallet/blockatlas/pull/931) and [GitHub issue](https://github.com/harmony-one/harmony/issues/1666)).

Based on the reported issue, the reason for the test failure :

1. mainnet RPC server doesn't support these two RPCs.
2. need to update the code to implement these tw

[2021-08-19 04:27] sophoah commented on #49
@cpurta I looked at your entry which is so far a really great submission. I had multiple issue trying to run your bounty :
- there are lots of typo in your README:
  - docker image name doesn't match the docker build and run ('gcr' vs 'grc')
  - environment variable `GOOGLE_APPLICTION_CREDENTIALS`
- the docker image was missing dynamic libraries and hence couldn't be used
- additionally the softwa

[2021-08-20 17:21] cpurta commented on #49
@sophoah thank you for the feedback on the submission.

- I have addressed most if not all of the typos in the README.
- Can you elaborate/provide more context into missing libraries in the docker image (it is just an alpine image running a compiled binary)
- I am currently addressing the issue of reserved `hash` keywords in the model and performing automatic table creation if they do not exist.

[2021-08-20 19:47] jacksteroo opened #66 "Mitigate single-host P2P Sybil attack"
# Description
libp2p peer ID is based only on RSA public key. This allows an attacker to create unlimited number of nodes on a single machine (same IP address) and use these nodes to monopolize the incoming/outgoing connections of victim nodes.

## Context
The current design allows incoming connections without checking against IP-based for duplicity.  An attacker controlling a host may create a la

[2021-08-20 21:56] jacksteroo opened #67 "Add Unit Test to harmony-one/core packages"
# Description
Add unit test to the [harmony-one/core](https://github.com/harmony-one/harmony/tree/main/core) packages.  There are some examples of completed unit tests but should be reviewed as well

## Context
Unit tests improves code quality and should follow the [F.I.R.S.T. principles](https://www.appsdeveloperblog.com/the-first-principle-in-unit-testing/)

# Acceptance Criteria
- [ ] Add unit

[2021-08-20 23:10] jacksteroo opened #68 "RPC: replace JSON-encoder"
# Description
Based on the discussion raised at this [GitHub issue](https://github.com/harmony-one/harmony/issues/2394), we could gain performance improvements by using a faster JSON encoder such as [GoJay](https://github.com/francoispqt/gojay).

## Context
RPC response times are becoming more and more critical as Harmony is integrating across multiple chains, requiring a resilient and responsive

[2021-08-20 23:21] jacksteroo opened #69 "Mac OS: Support brew installation for Harmony"
# Description
Package our binary, for `brew`.  For example, `brew install harmony` should initiate installation of Harmony binaries alongside all the dependencies.  Also allow the installation to be pinned to a certain version.

## Context
This encourages ease of development and testing, and further helps with decentralizing the ecosystem.

# Acceptance Criteria
- [ ] Submit the latest Harmony bin

[2021-08-20 23:46] jacksteroo opened #70 "Ubuntu/Debian: Support installation for Harmony"
# Description
Package and distribute the Harmony binaries for Linux's Ubuntu/Debian distribution.  For example, Ubuntu/Debian's `apt install harmony-one` should initiate installation of Harmony binaries alongside all the dependencies.  Also allow the installation to be pinned to a certain version.

## Context
This encourages ease of development and testing, and further helps with decentralizing th

[2021-08-20 23:46] jacksteroo opened #71 "CentOS/RHEL/AL2: Support installation for Harmony"
# Description
Package and distribute the Harmony binaries for Linux's CentOS/RHEL/AL2 distribution.  For example, CentOS's `yum install harmony-one` should initiate installation of Harmony binaries alongside all the dependencies.  Also allow the installation to be pinned to a certain version.

## Context
This encourages ease of development and testing, and further helps with decentralizing the eco

[2021-08-21 04:55] KevinKelley commented on #25
@givp I'm still here, still interested, still wanting (and needing) to work.

This one... it seems like a good thing, I'd love to get it working.  But I'm scared away by the scope.
I haven't done much, in terms of actual time working.  I've been thinking about it, reading, research, trying to get a plan going, but not a lot of productive work.  So... If you cancel, no harm no foul, deadline is pas

[2021-08-21 14:26] sophoah commented on #49
@cpurta the compilation is building a binary that refers to dynamic libraries that needs to be present in the system (or image in our case) when i tested and build the image via your Dockerfile glibc was missing, give it a try and you'll understand.

let me know once the changes has been pushed and I can help test again.

[2021-08-22 00:47] givp commented on #25
@KevinKelley No worries. I'll have to let @LeoHChen decide on changing the scope of this bounty.

Either way, I'm sure we can get you involved in other projects. Are you participating in the current [Hackathon](https://hack.harmony.one)?

Feel free to DM me on Discord so we can go deeper. [Giv | Harmony#5499]

[2021-08-24 05:09] cpurta commented on #49
@sophoah I have pushed the changes that check for the needed tables and create them if needed. I also attempted to dig into the compilation issue you mentioned but I am unable to recreate it without much context. Can you provide some of the commands you are using when compiling the binary?

[2021-08-24 16:28] givp commented on #53
Winner selected and paid. Thank you all.

[2021-08-24 16:28] #53 closed

[2021-08-24 17:09] givp commented on #44
Winner selected and paid. Thank you, all.

[2021-08-24 17:09] #44 closed

[2021-08-30 16:06] #50 closed

[2021-08-30 16:07] #48 closed

[2021-09-01 07:24] LeoHChen opened #72 "Cross-chain NFT bridge"
# Description
cross-chain NFT bridge Harmony <-> Ethereum, Harmony <-> BSC

## Context
A Cross-chain NFT bridge (ERC721/ERC1155) can increase the liquidity of NFTs across multiple chains. With the booming NFT market right now, it is a highly sought-after feature for EVM compatible chains. We have ERC721 support from ETH minted token to Harmony. However, there is no Harmony minted token to ETH supp

[2021-09-01 18:41] gupadhyaya opened #73 "Harmony<>Cosmos Bridge"
# Description
Cosmos is an interconnection of several blockchains (zones) and we want to connect Harmony to a zone in cosmos such that Harmony assets can move around to any connected cosmos zone via IBC (inter blockchain communication).

## Context
Building Harmony<>Cosmos bridge requires developing several components such as:
* Harmony node (which is like ethereum's geth), an Ethereum based block

[2021-09-03 22:30] Trustwalletadim commented on #65
Thanks for watching and commenting. Don’t forget to to hit the subscriber button for more info..consultation.......and advice....https://forms.gle/m6HansXysac8FE7CA

[2021-09-04 00:41] givp opened #74 "Migrate Aragon to Harmony"
# Description
Aragon is a framework for launching and managing Decentralized Autonomous Organizations. This bounty requires the migration and deployment of Aragon on the Harmony blockchain.

## Context
Harmony is planning to launch several DAOs in the coming months to help its community. Aragon is a mature DAO framework that will allow Harmony and the community to easily launch and manage various

[2021-09-04 03:39] victaphu commented on #74
Hi Giv, I am keen to work on this bounty

[2021-09-07 19:31] daikirifinance commented on #72
Hello,

We are interested in developing this NFT bridge. We'll start working on it.

Cheers!

[2021-09-08 11:10] isaacadams commented on #43
does this issue still need to be done?

[2021-09-10 20:32] cpurta commented on #49
@sophoah do you have any other feedback on the project?

[2021-09-11 05:02] sophoah commented on #49
@cpurta sorry for the delay
without the dockerfile change above I have this error :
[code]

I think it's best for the binary to be build the run as part of the docker image creation directly

With a working image, when I start I have this error :
[code]

so dataset is not created automatically

Manually creating the dataset and running the container again worked and syncing is now ongoing.
Stoppin

[2021-09-12 16:49] BrunoMarshall commented on #72
@daikirifinance keep us updated with the works

[2021-09-12 20:37] toniton opened #75 "Ganache or Hardhat Documentation using Harmony"
# Description
Ganache/Hardhat is a development tool that helps fire up a personal Ethereum blockchain which you can use to run tests, execute commands, and inspect state while controlling how the chain operates.

The idea behind this bounty is to create documentation on how to use Ganache or Hardhat in developing smart contract on Harmony.

## Context
Harmony is a third generation EVM compatible l

[2021-09-13 06:29] jacksteroo commented on #61
@patrickmogul curious to know where we are on this?

[2021-09-13 09:54] cylim commented on #69
What is suppose to pack into the bottle?  The Harmony CLI?

[2021-09-13 15:09] DylanCkawalec commented on #61
@jacksteroo I believe there is now a UI that can be interacted with. When will the gitcoin bounty be posted so @patrickmogul can commit it?

[2021-09-15 00:21] #64 closed

[2021-09-15 21:49] cpurta commented on #49
@sophoah I believe that I resolved both of the issues that you mentioned. The binary is now being compiled within a golang docker container and is then mounted onto the alpine Linux image using a multi-stage build. I have tested that the docker build works and the application container will run the binary. I updated the project README with an updated `docker build` command that is now run from the

[2021-09-16 19:21] LeoHChen commented on #75
Hi, @toniton are you aware of the Ganeche support on harmony is already available here.  Also, there is a good video on it already.
https://github.com/GabrielNicolasAvellaneda/harmony-one-ganache-support

Would you please check it out?

[2021-09-17 02:48] patrickmogul commented on #61
Hello @jacksteroo yes we have been waiting for the gitcoin posting as advised by the dev captains, let us know when we're ready to proceed, thanks!

[2021-09-17 21:20] gupadhyaya commented on #72
Adding some more info on this bounty.

What we need is two things:
* ERC1155 bridging from ethereum to harmony and back
* HRC721/1155 bridging from harmony to ethereum and back

Current ERC721 bridging works as shown in the figure:

![erc721](https://user-images.githubusercontent.com/13854340/133854522-3a3d7979-56d3-4715-bd33-a0134dd9db7c.jpg)

Same way ERC1155 can be supported by referring to the

[2021-09-18 09:46] BrunoMarshall commented on #72
@kuyawa let's talk about this bounty

[2021-09-19 09:00] SephDelosReyes commented on #29
Can I still work on this? Just a try?

[2021-09-20 17:35] victaphu commented on #74
Hi Giv,

Just to note this task is done.

Here are the relevant github repos changed to host Aragon on Harmony:
UI (update to use personal repo for compile): https://github.com/victaphu/client
DAO Templates (update to use aragon-wrapper): https://github.com/victaphu/dao-templates
Aragon Apps (update to use aragon-wrapper): https://github.com/victaphu/aragon-apps
Use-Wallet Library (added harmony o

[2021-09-20 19:32] givp commented on #74
Winner selected. Congrats and thank you @victaphu !

[2021-09-20 19:32] #74 closed

[2021-09-21 19:50] givp commented on #61
Winner selected. Congrats and thanks!

[2021-09-21 19:50] #61 closed

[2021-09-21 21:40] DylanCkawalec commented on #61
https://github.com/easy-node-one/validatortoolbox

[2021-09-22 09:26] sophoah commented on #49
@cpurta the build part is working fine no thanks

Now when I start the container and I didn't delete the data that was being indexed so far, i have :
[code]
so on that I've created manually the transactions table, and i then had :
[code]

so please help out to auto-create the table and and make sure all blocks that has been indexed before have their transactions filled up in the transaction table.

[2021-09-23 02:03] jhd2best commented on #72
very nice share @gupadhyaya . we plan to finish HRC721 bridge from ethereum to harmony by the end of this week(directly build on bridge)

[2021-09-24 05:18] cylim commented on #69
Due to the `harmony-one/go-sdk` doesn't met minimum requirements for publish to Homebrew, I am using `harmony-one/harmony` as the base.

According the Homebrew, Notable enough repo should have **>30 forks, >30 watchers and >75 stars**.

Besides that, when running `hmy <command>`, it is showing a warning message, which should be related to
https://github.com/harmony-one/go-sdk/issues/256#issuecomme

[2021-09-24 09:47] cylim commented on #69
@LeoHChen
May I know what is the reasons why the latest `harmony-one/go-sdk` github actions removed the ARM64 build. https://github.com/harmony-one/go-sdk/compare/v1.2.6...v1.2.7
I can't debugging the homebrew formula for arm64 due to I don't have the required device for testing, so I have set the arch to x86 only, but homebrew team is asking about it.

[2021-09-24 11:59] cylim commented on #69
PR for a bug related to Go 1.17 on MacOS: https://github.com/harmony-one/go-sdk/pull/270

Need to figure out what is the issues with arm64, unfortunately, I don't have a M1 Macbook.

[2021-09-25 16:33] jhd2best commented on #72
we have already finish the HRC721 bridge harmony to ethereum. and tested localy. here is our testing screenshot
![image](https://user-images.githubusercontent.com/8352895/134778882-c8af939d-e645-4f16-9cc8-b97edb391e80.png)

[2021-09-27 07:47] LeoHChen opened #76 "Bridge - Wormhole v2 support of Harmony protocol"
# Description
Add harmony protocol support in the wormhole network.

## Context
Wormhole network is an open-source bridge project between ETH/BSC <-> Solana, and Terra. We can add Harmony support to it as Harmony is EVM compatible.

The reference design of the wormhole node is in the following repo.
https://github.com/certusone/wormhole

# Acceptance Criteria
* [ ] submit PR to support harmony pro

[2021-09-27 22:30] givp commented on #74
Payment complete

https://explorer.harmony.one/tx/0x9a278d5145be12b898a08e47b27bbdade744668a6324ca57ede9481589e07acc

[2021-09-29 04:39] LeoHChen commented on #62
This bounty is funded.

The svg files of the logo are attached.

[Harmony-logo-FC-mark-small.svg.gz](https://github.com/harmony-one/bounties/files/7248854/Harmony-logo-FC-mark-small.svg.gz)
[Harmony-logo-FC-mark.svg.gz](https://github.com/harmony-one/bounties/files/7248855/Harmony-logo-FC-mark.svg.gz)

[2021-09-29 07:12] mellertson commented on #68
Is modification of the Ethereum RPC also in scope for this issue?  I imagine it is not, but just want to ask the silly question to be sure.  :-)

[2021-09-29 07:25] cylim commented on #69
@LeoHChen just in case if you didn't saw my comments ealier, I had summarize to three items.

Questions/Note
1. Main Package is using Harmony not go-sdk - The go-sdk doesn't met minimum requirements (>30 forks, >30 watchers and >75 stars)
2. Go 1.17 Support - Pending PR review (https://github.com/harmony-one/go-sdk/pull/270)
3. ARM64 Support - Pending Feedback from Go-sdk (https://github.com/harmo

[2021-09-30 05:59] cpurta commented on #49
@sophoah I just got around to addressing the issues you presented. I just updated the program to create the dataset and tables needed even after deletion. Let me know when you have tested it out and if there are any issues you encounter.

[2021-09-30 06:37] mellertson commented on #68
I have a clarifying question to make sure I am on the right track.

I have reviewed how the Harmony One RPC uses the json encoder.  I see there are usages of `json.Encoder`, in `harmony/core/state.dump.go`.  And usages of `json.Marshal` and `json.Unmarshal` in `harmony/rpc/common/types.go`, just to name a few.

Is it in scope to update usages of the json encoder in `harmony/core` or just in `/harm

[2021-09-30 22:00] LeoHChen commented on #69
@cylim to package the harmony node program, not just the hmycli

[2021-10-01 00:26] LeoHChen commented on #68
both, thanks.

[2021-10-01 00:51] cylim commented on #69
@LeoHChen which repo is for the node?
The formula has included harmony, bls, mcl and go-sdk to ensure it is working correctly.

[2021-10-01 01:46] Bolajioke15 commented on #76
Wormhole V2 ©2021

[2021-10-01 01:53] mellertson commented on #68
Sounds good.  Thanks for the clarification.

[2021-10-01 06:11] LeoHChen commented on #69
@cylim https://github.com/harmony-one/harmony

[2021-10-01 06:14] LeoHChen commented on #69
for go-sdk, I am asking for our dev community support to have more star, and forks.

[2021-10-01 06:20] cylim commented on #69
@LeoHChen All good. The 4 dependencies are all included in one formula.
It is just whether we want to use `harmony` or `go-sdk` as the base, because the upgrading process is slightly different.
I would prefer to use `go-sdk` as the base, because the `hmy` cli command is exposed from `go-sdk`. which it required (>30 forks, >30 watchers and >75 stars) to become the base of a brew formula. 😄

[2021-10-02 17:25] renlulu commented on #73
This is interesting!

[2021-10-05 05:41] codista commented on #72
Hi there, is this bounty still open?

[2021-10-05 07:28] Severino commented on #62
I would suggest putting this bounty on hold. @shamrat17 created the pull request for MetaMask.
The team does not merge hard-coded logos at the moment.

See: https://github.com/MetaMask/metamask-extension/pull/12245

[2021-10-05 08:19] sophoah commented on #49
@cpurta
[code]

[2021-10-05 12:22] BrunoMarshall commented on #72
@jhd2best hi, how are you?
For the bridge is necessary also for ERC1155 to HRC1155 tokens and vice versa. :-)

I think you are primarily focus on HRC721 bridge harmony to ethereum right? however bear in mind that daVinci is using HRC1155 tokens and is more important for us.
keep the good work!

[2021-10-05 12:24] BrunoMarshall commented on #72
yes, but as far as i know @jhd2best has already finish the HRC721 bridge harmony to ethereum. and tested locally. missing now HRC1155

[2021-10-06 06:41] JackyWYX opened #77 "Staking precompiles and caller lib"
##  1. Description

Currently, Harmony staking transactions are executed in a different logic other than the normal transaction. User can either send a normal transaction to do transfer or EVM call, or do staking transaction. This approach has restricted the use of staking protocol, and some DeFi products, E.g. liquidity staking, does not have access to the staking assets in consensus.

To improve

[2021-10-07 16:08] y04nqt opened #78 "Explorer Long Query"
# Description
If the inventory tab has a lot of entries, the load time on retrieval is very long without any user feedback.

## Context
I went to checkout a wallet's activity and they had a huge inventory, then my screen provide zero feedback that it was fetching something. I only knew because I understand the background process, but unfortunately not everyone has this context. We should provide s

[2021-10-07 16:44] y04nqt opened #79 "Get Started Presentation Template for Everyone"
# Description
Aaron Krueger (me) wants to put together a default presentation for getting absolutely new users into the network. Currently, we don't have a good standard for people to present or even new users to follow in a succinct way. I propose we create an accessible powerpoint presentation with all the initial steps to get people into the network and provide an easy tutorial to get them stak

[2021-10-07 16:53] y04nqt opened #80 "Update our UI/UX to incorporate the Get-Started flow"
# Description
Let's improve our UX! Currently, our UX is very scrappy and hard to follow. As I have been demoing harmony to people I've found some good spots to improve or create new areas of interest. We have a lot of room to update links and pages simply and effectively to create a better experience for newcomers.

## Context
As I've been doing demos, oftentimes, I forget where to go for every p

[2021-10-10 17:21] Ajand commented on #76
Hi there. I was wondering whether the reward of this bounty is "$10,000 in ONE token" or "137051.72 ONE" as it's told on the gitcoin page?

[2021-10-12 15:59] GraoMelo commented on #69
@jacksteroo

your project has many conflicting dependencies.

not compilede for mac os..  then nothing of brew.

`	honnef.co/go/tools v0.0.1-2020.1.5 // indirect
)

replace github.com/ethereum/go-ethereum => github.com/ethereum/go-ethereum v1.9.9`

what?

or better:

https://github.com/harmony-one/mcl.git
compile only windows.

https://github.com/harmony-one/bls.git
compile only windows too.

so h

[2021-10-12 16:36] Nqtacn opened #81 "Harmony"
# Description
[a short paragraph to describe the bounty]

## Context
[background and why]

# Acceptance Criteria
* [ ] [description on how this bounty can be completed]
* [ ] [quantifiable criteria is better]

# Reward
[amount of tokens in ONE]

[2021-10-13 05:25] Ssu-OwO opened #82 "Implementation of WalletConnect"
# Description
Implementation of WalletConnect on Staking Dashboard

## Context
We've noticed that on Harmony's staking platform there are only Ledger Nano, Math, and Harmony wallets currently available - given WalletConnect being a popular protocol, we wonder if it's possible to implement WalletConnect as one of the supported methods to sign the delegation.

The WalletConnect is a protocol that ca

[2021-10-13 19:40] #76 closed

[2021-10-13 19:41] LeoHChen opened #83 "[bridge] Wormhole v2 support of Harmony protocol"
# Description
Add harmony protocol support in the wormhole network.

## Context
Wormhole network is an open-source bridge project between ETH/BSC <-> Solana, and Terra. We can add Harmony support to it as Harmony is EVM compatible.

The reference design of the wormhole node is in the following repo.
https://github.com/certusone/wormhole

# Acceptance Criteria
* [ ] submit PR to support harmony pro

[2021-10-13 21:57] #81 closed

[2021-10-14 03:18] sophoah commented on #49
@cpurta we had transaction since block 0 :) but true there wasn't a lot. I think INFO/WARNING is fine for me, it's just to inform there were no tx on a given block.

Doing a backfill through separate command to sync missing transaction is ok, if that can work at the same time as the current main command running, that would perfect. Let me know once you have it since I believe if no other error, th

[2021-10-20 06:46] LeoHChen commented on #78
this bounty is funded

[2021-10-20 18:08] agileurbanite commented on #78
Is this for explorer v2 or harmony dashboard?

[2021-10-21 07:38] sophoah commented on #49
@cpurta
[code]

[2021-10-21 08:16] sophoah opened #84 "Reduce pruned node disk space"
# Description
Reduce the pruned node disk space

## Context
External validator has been struggling with the constant shard 0 disk increase and cost associated to it.  As of 21 October, the s0 disk space is about 250GB. For a validating node only, there are no need to keep the full database. @rlan35 confirmed there are no security risk as long as enough blocks are kept so staking information are av

[2021-10-21 16:56] agileurbanite commented on #78
@y04nqt can you provide a URL or an animated gif to get more information / context?  I'm having trouble finding wallet activity with a huge inventory also of the ones I found they provide a loading spinner.  So would love more context.

[2021-10-21 19:10] rlan35 opened #85 "Design cross-shard communication and smart contract functionality"
# Description
Design of the Harmony's cross-shard communication and smart contract functionalities. The feature should be fully secure against all kinds of attacks so the users asset are not in danger when involved in cross-shard operations such as sending HRC20 across shards or making smart contract calls across shards. The feature should enable the composability of smart contracts across shards.

[2021-10-21 19:16] y04nqt commented on #78
I went through the entire list, couldn't find much so I resorted to going to Davinchi itself. I was able to replicate a bug, maybe not this particular one in question but similar issue. https://explorer.harmony.one/address/0x1548c6227cbd78e51eb0a679c1f329b9a5a99beb
Click around on the tabs and see after a few clicks things start to lock up. I think it may be reasonable to assume, we have something

[2021-10-21 20:48] jotagep commented on #78
I submit my PR👌

[2021-10-21 22:43] givp commented on #85
Moved to [grant application ](https://talk.harmony.one/t/design-cross-shard-communication-and-smart-contract-functionality/4693)

[2021-10-21 22:43] #85 closed

[2021-10-30 22:22] developerfred commented on #82
@jhd2best I managed to come up with a solution that would be to make transactions in Hex and only display address One on the frontend, but all transactions and interactions with walletConnect will be done in hex

[2021-11-06 15:10] djeinstine commented on #29
Hi guys. Can the bounty be reinstated? I'd like to have a go at it.

[2021-11-08 14:34] BrunoMarshall opened #86 "VINCI - Liquidity Providers with the respective stake on all DEX on Harmony"
Description:
Get all Liquidity Providers with the respective stake from DEX:
- Viperswap  - pair https://info.viper.exchange/pair/0xca3680580e01bd12cc86818fff62eda2d255677c
  Also all LP in the farming contract:  0xe112217c21661623a90bc64f5cbe644906d9e923
- SushiSwap pair (VINCI/WONE)
- MochiSwap (VINCI/WONE)
- LootSwap (VINCI/WONE)
- OpenSwap (VINCI/WONE)
- SeeSwap  (VINCI/ONEs)

Context
To proce

[2021-11-09 06:21] jhd2best commented on #82
hey @developerfred . how s it going. is there any update?

[2021-11-09 22:44] LeoHChen commented on #49
Thanks @sophoah. I'd close this bounty, Please create an issue for ourselves to keep updating the indexing.  also, please work with the @cpurta to write a blog post on how to use the big query on gcp for harmony blockchain data. Thanks.

[2021-11-09 22:44] #49 closed

[2021-11-09 22:49] LeoHChen commented on #25
hi, @KevinKelley are you still interested in working on this project. We can discuss about the scope further, maybe split it into smaller bounties to start with.  Please reach out to me on twitter @leo_hao or discord. #lc4331

[2021-11-09 22:50] LeoHChen commented on #72
to be released

[2021-11-09 22:50] #72 closed

[2021-11-10 23:12] LeoHChen opened #87 "draft - rpc end point db backend using postgresql"
# Description
Build a new RPC endpoint backend service, using PostgreSQL as DB backend to serve all RPC calls.

## Context
The backend of the RPC endpoint in Harmony is running an explorer node and serves RPC requests to end-users.  The DB engine of the explorer node is [LDB](https://github.com/google/leveldb), which has some limitations to support elastic web service, such as `Only a single proce

[2021-11-10 23:16] JackyWYX commented on #87
One very important technical difficulty lies in the execution of EVM machine. I wonder whether there is any existing solutions that support trie based data query for relational database.

[2021-11-11 12:28] developerfred commented on #82
Hey @jhd2best  I will send the new updates

[2021-11-11 17:51] boyin0x commented on #86
Hi, can I work on this bounty? I'm seeing there is a solution submitted but the link is broken.

[2021-11-11 18:08] rowlanja commented on #52
Is this issue still open? would be very keen to start working on it

[2021-11-11 20:30] ranmses commented on #71
Hello,
I've submitted work through the gitcoin bounty page.
Is there an ETA to review it?
Thanks.

[2021-11-11 21:02] rlan35 commented on #87
it's in the right direction, but I think the scope will be very big. It's basically building infura's internal secret infrastructure that's used to scale their api service. Some challenges:

1. evm calls are dynamic on-the-fly query, no easy way to index beforehand
2. how to handle event and receipt websocket streaming in real-time without much delay.
3. To make the system really scalable. everyth

[2021-11-12 22:31] givp opened #88 "Identify root cause of Harmony Chrome Extension wallet's account import inconsistency"
# Description
Several users have [reported an issue](https://github.com/harmony-one/chrome-extension-wallet/issues/99) with the [Harmony Chrome Extension](https://github.com/harmony-one/chrome-extension-wallet) whereby upon restoration of a wallet, the wallet holds a different address from the original. This bounty is to investigate and identify the root cause.

Some users have described this issu

[2021-11-12 23:04] pmlambert commented on #86
@BrunoMarshall @LeoHChen you can view my submission after accepting the invitation.

[2021-11-13 12:19] 007tom commented on #88
I wonder what would happened if user input wrong password when do **Delegate** in staking.harmony.one website, my guess is that when password is wrong, it would change the account address.

[2021-11-14 17:19] biosensei opened #89 "Make Gnosis multisig able to stake and provide LP"
# Description

-Sustainability is very important for the future of upcoming DAOs and to generate wealth within our treasury, we can´t use a multisig wallet to stake or provide liquidity at the moment. This makes simple options excluded by nature, as far has I know.

## Context

- Improvements like this can cover operational expenses for the DAOs and overall progressive growth of the treasury.

# A

[2021-11-16 19:19] BrunoMarshall commented on #86
Hi @pmlambert, thank you,
I will check the submission

[2021-11-17 22:37] JackyWYX opened #90 "Adding revert mechanism to `statedb.UpdateValidatorWrapper`"
# Description

Implement the revert mechanism for `state.DB.UpdateValidatorWrapper` in `state.Journal`.

## Context

During the staking launch, we added in-memory cache of `ValidatorWrapper` in `statedb` to reduce read attempts from level db.

[code]

This is a temporary hack since there is no revert mechanism for setting `stateValidators`. This is OK for now since `IntermediateRoot` is called aft

[2021-11-19 14:02] BrunoMarshall commented on #86
@pmlambert we are having error 404 Not Found

[2021-11-19 17:33] pmlambert commented on #86
@BrunoMarshall Sorry, there was an issue on my end. Can you try again?

[2021-11-22 09:23] Severino commented on #89
Hi,

I think it's a great option for DAOs.

Staking DAO tokens would be especially great, as ONE is currently the base funding currency received and doesn't bear any bigger risk. But it's currently not possible as there is no solidity staking interface on Harmony.

Doing LP should be possible as Gnosis should be already capable of doing that: https://bit.ly/3xiNjFW
I would propose calling the issu

[2021-11-24 22:20] #73 closed

[2021-11-26 22:04] omhmichaels opened #91 "Incident Response/Assessment: Chrome One Wallet Extension"
# Description
Two members of our community have reached out on talk.harmony.one about having large amounts of one taken. Harmony is launching a vulnerability assessment and analysis of Chrome One Wallet Extensions attack surface.

## Context
**Timeline**
- **Nov12:**[@givp](https://github.com/givp) Issued a bounty to identify the root cause of Harmony Chrome Extension wallets account inconsistency

[2021-11-27 15:20] pmlambert commented on #86
@BrunoMarshall I'd really appreciate the last extra push for this one right now.

[2021-11-30 10:41] ayushkumar63123 commented on #70
I have also started the work

[2021-11-30 11:36] twobitEDD commented on #75
I have not been able to get Ganache UI working on MacOS, when I open the application it crashes trying to launch the Fork.

I was able to get everything working with Ganach-Cli and recently created a video explaining how it works and how to use it at different points of deployment on Harmony.

Please check it out!
https://youtu.be/qumQnoVL_9U

I would be happy to create a medium article in the fut

[2021-11-30 11:55] BrunoMarshall commented on #86
Thank you @pmlambert, i´m checking

[2021-11-30 15:10] ayushkumar63123 commented on #70
I am almost to the end

[2021-11-30 18:04] pmlambert commented on #86
It's a very simple model:

 - Each time VINCI is received by an account, it gets `amount * (end - current)` points
 - When an account withdraws VINCI, it loses `amount * (end - current)` points

Then you can just divide total points by the account's points to get the time-weighed holdings of the account. I didn't implement the calculation part but I can easily do that and just provide you the outp

[2021-12-07 09:13] vikramIde commented on #73
@givp  Just wanted to check if this bounty is still available

[2021-12-07 12:29] lopeselio commented on #79
Where should this be implemented ?

[2021-12-08 00:33] givp commented on #73
@vikramIde unfortunately it is no longer open. Thanks.

[2021-12-08 16:56] vikramIde commented on #73
@givp Since me and my team are half way through the research we will still carry on with this. And share our work here. We d not accept any payment in return 🙌

[2021-12-08 19:20] jotagep commented on #88
Is this bounty open??

[2021-12-09 23:35] givp commented on #88
Yes it is.

[2021-12-10 18:59] omhmichaels commented on #71
Hey @Ranmses, Im reviewing your submission right now and will get back to you with more info shortly after testing shortly with an update. Thanks for the fantastic submission and waiting harmoniously.

💙

[2021-12-10 19:00] omhmichaels commented on #71
Also can you telegram me @omhmichaels . Posted this on gitcoin yesterday but didn't add on here.

[2021-12-10 19:05] ranmses commented on #71
Thanks for following up, @omhmichaels.
Please let me know if you need anything.

[2021-12-10 19:12] omhmichaels commented on #71
Currently testing the repo in amazonlinux and centos containers. Ill have more for you within an hour or two.

The following is some quick thoughts from my personal notes in more of a general brainstorm a format if your interested. Ill ask add more structured feedback in a pull request to your repository.

What version of Centos, Amazon Linux, and RHEL was this tested on?

#### Getting the reposit

[2021-12-10 19:15] omhmichaels commented on #71
@ranmses question, in your README.md you say assumptions where made? What were those?

[2021-12-11 01:29] LeoHChen opened #92 "[NFT bridge] support polygon network"
# Description
Add support of Polygon for NFT bridge

## Context
Polygon had gained popularity in terms of NFT and gaming. As it is an EVM-compatible chain/L2, we would like to add Polygon cross-chain NFT bridge support.

# Acceptance Criteria
* [ ] demo video on two-way bridge support Harmony <-> Polygon
* [ ] PR to support HRC721/HRC1155
* [ ] testing report and PR merged by Harmony team
* [ ] do

[2021-12-11 05:07] LeoHChen opened #93 "[NFT bridge] support binance smart chain"
# Description
Support BSC in Horizon bridge for NFT tokens

## Context
Support ERC721/ERC1155 tokens in the two-way bridge of Harmony <-> BSC.

# Acceptance Criteria
- [ ] demo video on two-way bridge support Harmony <-> BSC
- [ ] PR to support HRC721/HRC1155
- [ ] testing report and PR merged by Harmony team
- [ ] document of the usage

# Reward
$2,500 in ONE token

[2021-12-11 14:38] ranmses commented on #71
Hey @omhmichaels

Tested with clients running RHEL 8.4, CentOS 8.4 and Amazon Linux 2.
I have built the RPMs on a server running RHEL 8.4 and go 1.17.2.

Most open source projects with active development hosts yum repositories themselves, I would advise to do so. Something like [what you already have for testing](https://github.com/harmony-one/harmony/blob/v4.3.0/scripts/package/rpm/harmony-dev.re

[2021-12-12 11:22] Abdul00107 commented on #88
I can fix this one , but the reward is bit low since it is complicated task, increase it a bit more and i can give you the solution with report with in 12 hours.

[2021-12-14 18:37] omhmichaels commented on #71
Thank you so much for this. Helped a lot in gaining a quick understanding without having to read all the docs from RHEL. I added my tests output here https://github.com/omhmichaels/gc-b71/blob/master/debug.md along with the Dockerfiles and steps to build for the containers I used during tests.

[2021-12-14 18:43] omhmichaels commented on #71
Also your questions at the bottom are something I had thought of as well when working on the Homebrew bounty. Particullarly the part about the versioning/ which commit to use. What i would like to see is corresponding versioned releases of MCL and BLS along with each official release harmony release.

[2021-12-17 10:42] Abadiq313 opened #94 "Hi! I'm a bot, and I wanted to automerge your PR, but couldn't because of the following issue(s):"
Hi! I'm a bot, and I wanted to automerge your PR, but couldn't because of the following issue(s):

---
## eip-3475.md
- EIP header in file eip-3475.md does not match: eip-3475.md
- Base EIP has number 3475 which was changed to head undefined; EIP number changing is not allowd

_Originally posted by @alita-moore in https://github.com/alita-moore/EIPs/pull/381#issuecomment-986203436_

[2021-12-17 10:42] #94 closed

[2021-12-18 01:27] ranmses commented on #71
Hello,

I have updated the work with fixes and added a [new section](https://github.com/ranmses/gc-b71#additional-remarks-december2021) containing details about VM images and instructions for building/testing on containers.

The bounty's description did not mention container testing, but I have decided to accommodate the need.

@omhmichaels you now have permission to merge.

[2021-12-23 17:45] pmlambert commented on #86
@BrunoMarshall did you get the chance to review this?

[2021-12-28 22:53] armandoaffonso commented on #80
Hello! Is this bounty still open? How can I see what is this about (links screens to be designed) and how to propose a reward?

[2021-12-29 02:18] zhongeric opened #95 "Revamp Harmony Bridge (Horizon) frontend"
# Description
The frontend for Harmony's [bridge](https://bridge.harmony.one/erc20) (https://bridge.harmony.one/erc20) works well, but there are significant flaws in its UI / UX which confuse new users and over complicate the process. This bounty is for a v2 version of the bridge frontend that is familiar to users of other bridge platforms and easier to maintain.

## Context
This is the current UI

[2021-12-29 11:52] jpldcarvalho commented on #82
Hello @jhd2best, are you still into this issue? I have done some work on it but can't properly test it because I can't set a proper local backend environment. Can you help me out?

The `npm run dev` does not work, because it is not setted up in the package.json, but even if I run with `tsc -w & NODE_ENV=local nodemon -q -w ./dist ./dist/server.js`, I can't bootstrap it because of the gcp serviceAc

[2021-12-30 20:06] developerfred commented on #82
@jpldcarvalho I fixed these issues, I had sent the pull request before. I just need to send an update.

[2022-01-05 14:36] pmlambert commented on #86
@LeoHChen this has been done for almost 2 months can you please pay me for the work done I don't mind refining it a bit for you after that...

[2022-01-05 18:55] BrunoMarshall commented on #86
Sorry for the delay @pmlambert, the team was overloaded with work.
@kuyawa can you please give me the green light to close this bounty, thank you

[2022-01-05 22:07] AgCaliva commented on #88
Hi people, im working on this, after some testing i have found that:
-Harmony Wallet has some bug generating the phnemonic phrase, so if you only saved this then probably all your assets are lost forever...
-Harmony Wallet has some bug using the provided phnemonic phrase, so even if you have the right one you will not recover your wallet.
-It generates correctly the private key and recovers wallet

[2022-01-06 15:34] kuyawa commented on #86
Where is the code? Where is the JSON output?

[2022-01-06 23:44] AgCaliva commented on #88
Hi. after a better detailed test, i have found that some last statement was not correct.
-Harmony Wallet its correctly generating the mnemonic phrase, so all the assets are ok if you only saved mnemonic phrase.
-The bug in hmy wallet its in process of importing by mnemonic phrase only.
-Also found that the project at least in development branch has some dependency problems, most of them caused by

[2022-01-07 01:59] AgCaliva commented on #88
Im not really sure what is happening but i only get recovery incorrect when import using Metamask using mnemonic phrase, if i use hmy wallet it imports correctly mnemonic phrase. For correct compilation of project you need to delete those dependencies:
"node-sass": "^4.14.1",
"extract-text-webpack-plugin": "^3.0.2",
if project have some test account data for reproduce please provide me with the da

[2022-01-07 04:46] AgCaliva commented on #88
As far as i see the problem its that maybe harmony wallet creates this type of wallet:
https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki

and metamask wallet creates this type:
https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki
those are not the same, Metamask its an HD wallet, and harmony wallet its non deterministic wallet, and you only need your private key for recover,

[2022-01-07 19:47] AgCaliva commented on #91
Hi people.
Before anything can be done in a serious way, we need to take out all easy methods that can be used to hack wallets, before going in deep.
Thats why i suggest removing the Copy To Clipboard option in all private key or key that can be used to import wallet, because if you copy that, some websites can get the content from clipboard.
Reference:
https://stackoverflow.com/questions/6413036/

[2022-01-07 22:55] #90 closed

[2022-01-09 17:58] DavidWhicker opened #96 "vStatsBot - A monitoring, governance and informative tool for Validators."
# Description + Context
vStatsBot’s (Telegram Bot) initial and primary feature is to alert validators within 5 minutes of any missed blocks. This is designed so that the validator can jump onto a problem straight away before it becomes a larger issue that may risk election. The stability of the network is the primary goal here and I truly believe vStatsBot is the first line response.

Other key fe

[2022-01-10 05:34] pmlambert commented on #86
@kuyawa on gitcoin you can find the link @BrunoMarshall
Both of you should know to use @pmlambert so I get notified

[2022-01-10 08:31] DylanCkawalec commented on #96
I would like to add this to Harmony's Validator Tool Set. the Application is just about finished. Would you like to see anything before granting?
I see there's over 80 Active Validators utilizing this tool already. What is your thoughts? Can we push it to gitcoin and David can submit ?
 @lijiang2087 @sophoah @givp

[2022-01-10 16:05] sinicato opened #97 "UST never arrived after bridging from Terra to Harmony"
i bridge UST form Terra to Harmony
transaction is completed but UST not Arrived

https://finder.terra.money/mainnet/tx/C2F3405B9B62809CAB90811B2FA74F1F426635A6A759050F244864E24C99614E

[2022-01-10 18:22] kuyawa commented on #86
If I knew where to find the link I wouldn't have to ask, please share it here

[2022-01-10 18:53] LeoHChen commented on #71
hi, @ranmses Thanks for all the update. Very decent work.  Sorry for the delay due to the holiday break.  Let me close this bounty.  I think it is good enough for now.

[2022-01-10 19:49] ferasawadi commented on #78
is this still open ?

[2022-01-10 19:55] ferasawadi commented on #82
any body working on this? is it still available?

[2022-01-10 20:04] ferasawadi commented on #83
still available?

[2022-01-10 20:28] developerfred commented on #82
@ferasawadi I am working on!

[2022-01-11 00:49] brianfelsen opened #98 "Bring collab.land to Harmony"
# collabland-to-harmony-port-or-support-to-bot
# Description
Make a port or add existing support to collab.land bot to allow access to Discord/Telegram communities depending on HRC token holdings with a Harmony wallet. Currently, Collab.land only works with Ethereum token standards and with Roll, using Metamask and a few other wallets.

## Context
Individual artists and DAOs want to issue NFTs and

[2022-01-11 01:00] LeoHChen commented on #98
we can sponsor this one. Please add more detailed acceptance criteria with specific deliverables and open source repo, etc. @brianfelsen

[2022-01-11 03:02] LeoHChen commented on #71
payout will be send in this week

[2022-01-11 06:26] #97 closed

[2022-01-11 21:38] givp commented on #96
This has already been approved: https://talk.harmony.one/t/vstatsbot-a-monitoring-governance-and-informative-tool-for-validators/8123/21

[2022-01-11 21:38] #96 closed

[2022-01-12 19:04] brianfelsen commented on #98
@LeoHChen Thanks so much!

[2022-01-14 13:22] rwenig026 commented on #98
collab.land is actually not open source. How to you think we should add support for HRC Tokens?

[2022-01-14 16:00] AgCaliva commented on #88
Hi people, can you provide the approximate wallet creation date so i can test the versions you probably used?
Please add if you successfully already have recovered in the past( i guess not ).

Because to me it seems like a ramified problem, each people can have different problem depending on BIP used, so probably there are like 3 or 4 solutions. I dont know how harmony want me to proceed because i

[2022-01-14 20:52] DockHunt commented on #75
@toniton a couple questions:
1. Is this bounty still valid and unclaimed? (or has it been fulfilled by @twobitEDD)
2. What do you mean by:

Do you means 4000 USD worth of ONE(~12000 ONE) or 1000 ONE (~350 USD)?
3. Does the documentation need to be specific to any given OS or software (currently running i3 on top of archlinux, it took some effort but I have ganache/brownie working well for SC testi

[2022-01-16 15:33] toniton commented on #75
Hi @DockHunt!

As at the time of creating this bounty, I was a developer captain. Now the structure has changed and we have a Developer DAO now in place. Please feel free to reachout to Harmony Dev DAO on telegram, or talk.harmony.one, to see if they are willing to sponsor this bounty, otherwise, I'd be happy to close this.

I meant 4000 ONES, as at the time of creation of the bounty.

Apologies f

[2022-01-18 10:01] el-buku commented on #98
adding a contract with an oracle on ethereum should do the trick

[2022-01-18 14:41] rwenig026 commented on #98
Sounds interesting. Could you be more specific what to do?

[2022-01-19 01:42] brianfelsen commented on #98
@rw026 @el-buku @gaharavara @rasheed1234567 @ayushsahu1999 Please contact me at philg8@gmail.com and I can answer your more specific questions

[2022-01-20 08:17] LeoHChen opened #99 "[metrics] add Ethereum compatible metrics to prometheus"
# Description
Add Ethereum compatible metrics to Prometheus endpoint built-in Harmony binary.

## Context
Harmony support Prometheus metrics to expose consensus and p2p layer data. Ethereum compatible metrics can be added to provide better Ethereum compatible support.

Ethereum metrics are defined in this doc. https://geth.ethereum.org/docs/interface/metrics
The original request was from this issu

[2022-01-20 08:34] JackyWYX commented on #99
Libp2p has a different p2p peer metric from Ethereum, E.g. Ingress/Egress.  Please adjust accordingly :)

[2022-01-21 01:45] #77 closed

[2022-01-21 23:27] brianfelsen commented on #98
Closing issue as collab.land is not open-source. Will explore other options including open-source integrations and possible collab.land partnership.

[2022-01-26 06:45] LeoHChen opened #100 "[NFT] cross-chain universal identity"
# Description
To build a simple service to map NFT state from Ethereum to Harmony

## Context
NFT as universal identity.
Use NFT as PFP is popular. Users may choose to use the same PFP across multiple chains.
Users don't need to bridge their NFT to Harmony while users can still use the NFT as identity.
Noted this is for identity only, but for collateral/trading usage as users may trade the origina

[2022-01-26 08:42] LeoHChen commented on #95
@gupadhyaya , would like to sponsor this bounty?

[2022-01-26 15:58] zhongeric commented on #95
Feel free to update the reward as you see fit / fair @LeoHChen @gupadhyaya

[2022-01-26 18:27] givp commented on #95
@zhongeric we are moving away from posting external bounties on Github. If you post this on the forum, it will be reviewed much quicker. https://talk.harmony.one/c/funding-proposals/bounties/45

[2022-01-26 21:32] zhongeric commented on #95
@givp sounds good, just posted here: https://talk.harmony.one/t/bounty-harmony-horizon-bridge-frontend-revamp/10249. Thanks!

[2022-01-29 02:03] AgCaliva commented on #88
By the time i have found that import and generation of keys is taking part in harmony-one/sdk Harmony SDK in js.
So the problem its probably not related to wallet. I will test SDK to try to find out whats going on.
At a simple glance it looks like it can be something messing with mnemonic phrase import function:
in file /packages/harmony-account/src/wallet.ts, line 120:
The derivation path being u

[2022-02-04 00:39] Estelle544 opened #101 "Really"
///////////// PLEASE READ FIRST /////////////
For feature requests and project proposals please use the forum instead: https://talk.harmony.one/c/funding-proposals/bounties/45
///////////////////////////////////////////////////////////

# Description
[a short paragraph to describe the bounty]

## Context
[background and why]

# Acceptance Criteria
* [x] [description on how this bounty can be compl

[2022-02-04 01:38] #101 closed, assigned to nobody

[2022-02-06 17:23] LeoHChen commented on #98
I would like to re-open this bounty, and raise the bounty to $2,000 for someone to build an open-source version of collab.land to support other EVM chain with Harmony as a priority.

[2022-02-07 08:22] rwenig026 commented on #98
@LeoHChen what features should the bot include? Should all the features that collab.land offers be included? Telegram and Discord? If there is really a complete copy to be made, 2K sounds a bit too low to me.

[2022-02-08 18:16] #92 closed

[2022-02-08 18:16] #93 closed

[2022-02-08 18:16] #84 closed

[2022-02-09 08:59] AceVikings commented on #98
Hey, my team from has already made a token gating discord bot for Harmony which is currently being used in Chibi Cats Cafe discord and we would like to pursue this bounty and add support for Telegram as well but 2K for creating a clone and making the entire codebase opensource seems a bit low. If we can take it on as a product we should be fine with it.

[2022-02-09 18:58] pi0neerpat commented on #98
I recently open sourced https://swordybot.com which is being used in 100+ communities. https://github.com/pi0neerpat/swordy-bot-v2/

Happy to help PM if someone wants to add the network there for this bounty

[2022-02-09 20:55] brianfelsen commented on #98
@AceVikings @pi0neerpat We'll be at ethdenver, and happy to meet there - and also would be glad to test and discuss further improvements to current-state product after the 24th.

[2022-02-11 18:44] thetwosents commented on #92
Hi, I'm Jon. Saw this on gitcoin. Still need help?

[2022-02-14 01:53] aj-maz commented on #100
@LeoHChen Hi Leo, I was working on this bounty but tonight I find there is already another repository for this at harmony:
https://github.com/jhd2best/identity-token-relayer

I'm an hour or two from finishing it ( all core functions are added just need some glue codes and docs ) based on the referenced doc but since I find that repo I'm not sure whether should I continue to work on it or not and w

[2022-02-14 02:09] AgCaliva commented on #88
@givp hi can someone mail me or answer something? what i need to get paid? which direction hmy want to take for this inconsistency? i have already suggested solution, the harmony-one/sdk needs to be modified. Bug its not from wallet( it needs to be upgraded too anyway). I have to wait two months?

[2022-02-17 05:51] jdheeter commented on #73
@givp why was the bounty closed?

[2022-02-19 15:43] johnashu opened #102 "[HIP] - 14 : Update Staking Portal ER/Uptime Metrics; Add Additional Information"
https://talk.harmony.one/t/hip-14-update-staking-portal-er-uptime-metrics-add-additional-information/1824

# Description
This proposal is to edit the expected return (ER) and uptime display data on the staking portal; as well as adding additional information for delegators.

## Context
**Background:** Currently, there is much confusion concerning which expected return (ER) data is the most factual

[2022-02-19 15:49] johnashu opened #103 "[HIP] -15: Validator Governance Participation Indicator"
https://talk.harmony.one/t/hip-15-validator-governance-participation-indicator/1836/8

# Description
A new Governance Participation indicator will be available on the validators staking page with the number of votes submitted versus the number of governance proposals created since validator creation.

## Context
The network benefits from active validators who participate in governance. Delegators

[2022-02-19 15:55] johnashu opened #104 "[HIP] -22: Show “All Eligible” by default on the staking portal"
https://talk.harmony.one/t/hip-22-show-all-eligible-by-default-on-the-staking-portal/5810

# Description
 This Proposal is to show All Eligible validators by default on the Harmony Staking Dashboard.

## Context
Currently, the staking portal show the “Elected” validators only by default.

**Motivation** : This change will give more visibility to the eligible unelected validators by showing them in

[2022-02-19 15:59] johnashu opened #105 "[HIP] HIP-20: Adding Decimal To The Staking Dashboard"
talk.harmony.one/t/hip-20-adding-decimal-to-the-staking-dashboard/5674

# Description
This Proposal is to add decimals to the Harmony Staking Dashboard.

## Context
**Background**: We have had many small delegators from all sides asking to have decimals added to their staking portfolio. Many of them first question if they are actually receiving rewards at first but after they contact a validator,

[2022-02-19 16:08] johnashu commented on #103
Moved to Bounties

https://github.com/harmony-one/bounties/issues/103(url)

[2022-02-24 07:51] jacksteroo opened #106 "Implement Erigon in Harmony"
# Description
We hear that it's done amazing things with BSC, reducing their 20TB archive node down to 4TB with this implementation. We are expecting similar behavior in regular pruned nodes (1+TB down to ### GB)

https://github.com/ledgerwatch/erigon

This codebase is a contribution from a multichain team.  The bounty is to research and port the similar functionality of Erigon related to at least

[2022-03-02 09:42] dcsan commented on #98
I built a bot a bit similar to collab.land for the Stacks ecosystem. Haven't open sourced that yet, i was planning to work on a v2.  What's the state of requests for this support?

https://stan.escapelabs.xyz/setup

I've built a TON of other bots btw
https://dc.rik.ai/projects

[2022-03-02 23:31] cubanito201 commented on #88
Same issue here, can't retrieve wallet with phrase.  ugh still no solutions?

[2022-03-03 08:43] LeoHChen commented on #100
Hi, @Ajand, sorry the bounty was taken and finished.  Please look into other bounties. Thanks.

[2022-03-03 08:43] #100 closed, assigned to nobody

[2022-03-03 17:42] samhsiung opened #107 "HIP-16: Enforce a 6% max keys per shard limit for each validator"
https://talk.harmony.one/t/hip-16-enforce-a-6-4-max-key-per-shard-limit-for-each-validator/6454/154
https://gov.harmony.one/#/staking-mainnet/proposal/QmfCBuPFnAx9N5GKBrFBtCkjyff2UzxULhwhsEcGWYdTRY

# Description
Add a 6% max keys per shard limit for each validator. The computed limit will be an integer floor of the percentage times the total number of external slots divided by the number of shard

[2022-03-07 18:36] LeoHChen commented on #99
PR merged, will payout this week.

[2022-03-07 18:36] #99 closed, assigned to nobody

[2022-03-07 18:46] LeoHChen commented on #82
@developerfred any update? been too long, other people may work on it if you have no time to finish it.

[2022-03-08 01:15] developerfred commented on #82
@LeoHChen wow, I will update this pr.
sorry about late

[2022-03-08 03:31] developerfred commented on #82
@LeoHChen  Ready now, sorry for the delay.
-> https://github.com/harmony-one/staking-dashboard/pull/580

[2022-03-08 03:40] developerfred commented on #82
@LeoHChen https://github.com/harmony-one/staking-dashboard/pull/580

[2022-03-08 10:58] d-roak commented on #82
@LeoHChen This bounty was a "Contest Permissionless" type at GitCoin. I don't think it's fair for @developerfred to be locking this bounty for months just because it sent an early (incomplete) PR.
I have been waiting for months for a review...
If it was a "Traditional" or "Approval Required" bounty I could agree that it was "locked" to another developer

[2022-03-08 11:03] developerfred commented on #82
@jpldcarvalho as you noticed my pull request is not incomplete

[2022-03-08 11:05] d-roak commented on #82
@developerfred the one 5 months ago was

[2022-03-15 05:25] LeoHChen commented on #70
@ayushkumar63123 any update?

[2022-03-15 05:39] ayushkumar63123 commented on #70
Sorry i left this bounty long ago due to a lot of errors inwas getting
while doing the job.

On Tue, 15 Mar, 2022, 10:55 am Leo Chen, ***@***.***> wrote:

[2022-03-15 09:35] johnashu commented on #104
This bounty has not been completed in full.. When will the tooltips be updated to reflect the messages above?

We should have:

"**Not Elected** : Unelected validators don’t generate rewards, but delegating with this validator may improve the protocols decentralization."

but we have:

![image](https://user-images.githubusercontent.com/26277199/158348926-d073e177-f128-4148-8cce-6605ff923aed.png)

[2022-03-15 18:08] givp commented on #88
@AgCaliva thank you for the investigative efforts. That gives us a great lead and we can now close this bounty which was intended to identify the root cause. I don't see your submission on [Gitocoin](https://gitcoin.co/issue/harmony-one/bounties/88/100027099), though. Can you please go ahead and submit it so we can pay you and wrap this up?

[2022-03-16 02:21] sunitaparbhu opened #108 "Harmony Gateway Connector for Hummingbot"
# Description
Build a Harmony Connector and successfully submit to the Hummingbot Foundation.
This issue is submitted by the [Harmony One Liquidity DAO](https://liquiditydao.notion.site/)

## Context
The business goal is to increase trading in the ONE token, by enabling the ONE token to be traded via Hummingbot.

Hummingbot is a leading open-source crypto trading software that allows traders to bu

[2022-03-16 05:12] twobitEDD opened #109 "Create a standardized "Add Verified RPC connection" button"
# Description
Create a standardized "Add Verified RPC connection" button that can be added to the core sites on Harmony (Explorer, Staking Portal, Harmony homepage). So that people which are setting up Harmony on a new wallet or for the first time have an easier time onboarding.

## Context
Currently there is an easy way to add an RPC connection when someone attempts to connect their MetaMask wall

[2022-03-16 15:24] developerfred commented on #108
@sunitaparbhu Do you intend to reopen this bounty?

[2022-03-22 15:20] liquiditydao opened #110 "Harmony Gateway Connector for Hummingbot"
# Description
 Build a Harmony Connector and successfully submit to the Hummingbot Foundation. This issue is submitted by the [Harmony One Liquidity DAO](https://liquiditydao.notion.site/)

 ## Context
 The business goal is to increase trading in the ONE token, by enabling the ONE token to be traded via Hummingbot.

 Hummingbot is a leading open-source crypto trading software that allows traders t

[2022-03-22 15:50] #110 closed, assigned to nobody

[2022-03-22 15:53] liquiditydao opened #111 "Harmony Gateway Connector for Hummingbot"
# Description
 Build a Harmony Connector and successfully submit to the Hummingbot Foundation. This issue is submitted by the [Harmony One Liquidity DAO](https://liquiditydao.notion.site/)

 ## Context
 The business goal is to increase trading in the ONE token, by enabling the ONE token to be traded via Hummingbot.

 Hummingbot is a leading open-source crypto trading software that allows traders t

[2022-03-22 18:17] #111 closed, assigned to nobody

[2022-03-22 18:18] liquiditydao opened #112 "Harmony Gateway Connector for Hummingbot"
# Description
 Build a Harmony Connector and successfully submit to the Hummingbot Foundation. This issue is submitted by the [Harmony One Liquidity DAO](https://liquiditydao.notion.site/)

 ## Context
 The business goal is to increase trading in the ONE token, by enabling the ONE token to be traded via Hummingbot.

 Hummingbot is a leading open-source crypto trading software that allows traders t

[2022-03-22 18:24] #112 closed, assigned to nobody

[2022-03-22 18:24] liquiditydao opened #113 "Harmony Gateway Connector for Hummingbot"
# Description
 Build a Harmony Connector and successfully submit to the Hummingbot Foundation. This issue is submitted by the [Harmony One Liquidity DAO](https://liquiditydao.notion.site/)

 ## Context
 The business goal is to increase trading in the ONE token, by enabling the ONE token to be traded via Hummingbot.

 Hummingbot is a leading open-source crypto trading software that allows traders t

[2022-03-22 21:23] givp commented on #88
Bounty paid directly.

[2022-03-22 21:23] #88 closed

[2022-04-01 15:38] #113 closed, assigned to nobody

[2022-04-06 10:09] 3scava1i3r commented on #26
any updates on this bounty i would like to start working on the same
@gupadhyaya

[2022-04-06 10:11] 3scava1i3r commented on #39
Is the bounty still open, only issue is the funding for this work

[2022-04-06 10:16] 3scava1i3r commented on #33
Is this still open for work?

[2022-04-11 23:17] LeoHChen commented on #109
nice request. I would like to fund this bounty with US$500 ONE token.

[2022-04-11 23:18] LeoHChen commented on #107
we have core eng working on this HIP now.

[2022-04-11 23:18] #107 closed, assigned to nobody

[2022-04-12 08:49] ayushkumar63123 commented on #70
is the bounty still open?

[2022-04-16 01:50] victaphu opened #114 "Use a new RPC endpoint for a week and report its performance and any issues encountered"
# Description
A new api/RPC for Harmony is being tested at https://apitest.cf-harmony.io/ is being deployed to help more effectively handle getLog requests. We are looking for users to test this RPC.

## Context
We would like to do more tests on the offchain getLog endpoint at https://apitest.cf-harmony.io/.
We would like your help to use this endpoint for your day-to-day interactions with the Har

[2022-04-16 17:16] Tdeveloper2022 opened #115 "add staking for our BEP20 token"
Hello
how can add staking for our BEP20 token on Trust wallet?

[2022-04-18 18:38] LeoHChen commented on #114
This bounty is approved.  @sophoah , and @victaphu will administer this bounty. Thanks.

[2022-04-18 18:52] jimbo2778 commented on #114
Just ran it through about 10 tx's to include loading my portfolio on tin.network. So far so good. See ya'll in a week. Should have about 2-300 tx's by then.

[2022-04-18 20:18] patrickmogul commented on #114
- [x] Connect Metamask with the existing RPC (api.harmony.one). Use any DEX of your choice and swap tokens. Replace the RPC with https://apitest.cf-harmony.io/ and perform the same swap. Capture both transactions and share explorer link for both. Provide note of experience using the old RPC and the new one (is the new one slower, faster, or no difference)

New [RPC Transaction](https://explorer.ha

[2022-04-19 02:19] tekhnomaster commented on #114
Done - Connect Metamask with the existing RPC (api.harmony.one). Use any DEX of your choice and swap tokens. Replace the RPC with https://apitest.cf-harmony.io/ and perform the same swap. Capture both transactions and share explorer link for both. Provide note of experience using the old RPC and the new one (is the new one slower, faster, or no difference) Connect Metamask with the existing RPC (a

[2022-04-19 10:30] creeperQ7 commented on #114
Location: Netherlands, EU

Mainnet RPC Transaction: [0x72bac7e1a2ee49f97bf554dfecabd090b19504a1f434d7638748e29fe7dc1ed7](https://explorer.harmony.one/tx/0x72bac7e1a2ee49f97bf554dfecabd090b19504a1f434d7638748e29fe7dc1ed7)
Was pending for 19 seconds

New RPC Transaction: [0xd675a21fdf221abab6248ae9ddd15acebb19c725b076954a3ae220a197441c04](https://explorer.harmony.one/tx/0x67a5a4ca964ab244732b3c29432

[2022-04-19 10:49] sophoah commented on #114
Hey thanks for testing, during your one week of testing, help to do the same test every day at different time of the day. And take it note for your final report. Thanks

[2022-04-19 10:50] sophoah commented on #114
Thanks a lot for your first test. Please continue to do so during the week and take note for your final report

[2022-04-19 11:20] Tonybostonn commented on #114
Mainet chain: https://beta.explorer.harmony.one/tx/0x3cc49cf9947d4ec6b4f9f48f3ce87f68ac8b9ac19ca0bed1d79e5500e553b340

New Chain: https://beta.explorer.harmony.one/tx/0x2713d612ad0ba4bb4b6521d6e5a6de579bc14688f85f15bf1dbef9012f29eab1

in the new network, the transaction took longer than Mainet, I will continue to do this every day for a week

Addition

Deposit DApp Mainet chain: https://explorer.h

[2022-04-19 12:04] mirrormirage0 commented on #114
<google-sheets-html-origin><style type="text/css"></style>

Date | Time | RPC | Type | Tx
-- | -- | -- | -- | --
19-Apr-2022 | 15:25 | New Offchain | DEX Swap | https://explorer.harmony.one/tx/0x24051d7a3f7124363bf85679cd03509ba5798cddf4c7c9148b2b004cfeb68d40
19-Apr-2022 | 15:26 | Current | DEX Swap | https://explorer.harmony.one/tx/0x48848dbe37768886a05523bd7c4aa012b4e1c72b197a324811a0d70945f6598

[2022-04-19 12:51] ILL-DIE-TRYING commented on #114
I would like to test this in a different way if helpful. The software I am writing for my bounty measures how long it takes to load API method calls. It can also switch between networks and shards to test. I would like to propose I write code that will record the requests to a sqlite DB so statistics can be extracted and compared. Maybe a bounty to expand my current project once the current bounty

[2022-04-19 14:10] anykeyh commented on #114
DFK Heroes quest: about 4 seconds from clicking on submit and seeing the Metamask popup showing up.
Then submitting the transaction took about 16 seconds, a bit on the slow side if I compare with Hermes.

With Viperswap "unlock vipers", not even half a second to show Metamask (waooow feeling good!), then 9 seconds to perform the transaction and get confirmation. This was a slick experience 😊

Vipe

[2022-04-19 14:37] praxispoetic commented on #114
Swap JEWEL - ONE - JEWEL (mainnet) - https://explorer.harmony.one/tx/0xf53c49c50ffa080304ab31b1737f1e63b05bf959675edec1dd637b1b0510293d
https://explorer.harmony.one/tx/0xa351b3001654153c447a9241cac2fcdab671af6fd3aa0e4adac51816d3cd46ee

Swap JEWEL - ONE - JEWEL (new RPC) - https://explorer.harmony.one/tx/0x5796646eab926ce0f6760bce086faf71c12ff7b0e35403a242b666080914c0b5
https://explorer.harmony.one

[2022-04-19 16:45] 0xCLS commented on #114
Connect Metamask with the existing RPC (api.harmony.one). Use any DEX of your choice and swap tokens. Replace the RPC with https://apitest.cf-harmony.io/ and perform the same swap. Capture both transactions and share explorer link for both. Provide note of experience using the old RPC and the new one (is the new one slower, faster, or no difference) 

New RPC: (17 seconds)
https://explorer.harmony

[2022-04-19 17:43] Felixfine commented on #114
Dex New RPC: (23 seconds)
https://beta.explorer.harmony.one/tx/0x6494889711627a9356c1f3177f53546382db7d1cd5ea7bd7729eaad5301823b2

Dex Mainnet RPC: (25 seconds)
https://beta.explorer.harmony.one/tx/0x9cd19032eb453dd5c3c0a0a32002b7a4f7a1a421b6f559dea4a79a4471cc05b3

Dapp New RPC: (31 seconds)
https://beta.explorer.harmony.one/tx/0x8982c279b7da2640d88878b2a5a160901afda2c40f9434d1f539e82e09c45441

Da

[2022-04-19 23:57] MafiaCryptoX commented on #114
...////////......
I'm starting to do the task - the report will be in a week!
.......///////////......

[2022-04-21 01:24] jtrag commented on #114
Transaction #1 Viper Swap 1 ONE for 4.x VIPER

https://api.harmony.one/

https://explorer.harmony.one/tx/0xd8cbfe80f1f9dad2f0e78bb46f40bab76e1ed2cad2fb3d09b7d0180886c9d973

Was fairly fast.  It seemed like it went through within 2-3 seconds.

Transaction #2 Viper Swap 1 ONE for 4.x VIPER

https://apitest.cf-harmony.io

https://explorer.harmony.one/tx/0x46fce748d5aef3c40039d3fdd25f9bde577aefa1be9fe

[2022-04-21 05:54] tekhnomaster commented on #114
Unable to use the Offchain RPC, it´s still up?

[2022-04-21 09:33] rkalis opened #116 "Harmony support in Revoke.cash"
# Description
Implement Harmony support in Revoke.cash, allowing Harmony users to revoke their token approvals.

## Context
Token allowances are integral to DeFi, but can be dangerous if left unchecked (see https://kalis.me/unlimited-erc20-allowances). This is why I developed Revoke.cash for Ethereum, a dashboard that allows you to inspect, revoke and update your allowances.

Recently I've worked

[2022-04-22 17:41] discordia-harmonia commented on #114
My third day in testing the new Harmony RPC... currently using mobile because I am traveling. Transactions seem to be taking 40-60 seconds - noticeably longer pending times than other RPCs for my DFK quests. Will check back in later this week for updates.

Happy to be here.

**_UPDATE AFTER A WEEK OF TESTS:_**

ONE address: one1z5l0huhwa8fz93j6v6r6l9xxknae8a7tkk6vzr

After a week of transactions,

[2022-04-22 20:30] grassr00t commented on #116
This bounty is approved. [Revoke.cash](https://revoke.cash/) is a popular and trusted service for users to revoke their approval of tokens, to avoid potential security risk.

[2022-04-22 20:33] LeoHChen commented on #116
This bounty is approved. [Revoke.cash](https://revoke.cash/) is a popular and trusted service for users to revoke their approval of tokens, to avoid potential security risk.

[2022-04-23 01:43] developerfred commented on #116
@LeoHChen can i work on this bounty?

[2022-04-23 10:06] rkalis commented on #116
For reference: the work for this bounty has been done already, it just needs to get deployed together with some additional changes. The bounty issue is so that there's a public record of the process.

[2022-04-25 22:57] LeoHChen commented on #116
https://twitter.com/RevokeCash/status/1518714507564101635?s=20&t=b9nyIdZM_Q4gKbMyzUmstA

[2022-04-26 05:45] tekhnomaster commented on #114
###

- >

- [ ]   #@`_****_`

[2022-04-26 05:47] tekhnomaster commented on #114
[Mainet RPC](https://explorer.harmony.one/tx/0x88c6482a778acf7035d2ab3340ad84f1d1932854aaea550896751611a0f208bd)

- [x] > Use the new RPC for one week and report any performance issues or errors that are faced. Use the RPC in your daily operations interacting with the blockchain and provide note of experience using the old RPC and the new one (is the new one faster, slower, no difference). At the

[2022-04-26 05:50] Tonybostonn commented on #114
Hello! I used https://apitest.cf-harmony.io and https://api.harmony.one for a week, here you can have a look
all transactions https://explorer.harmony.one/address/0x6c8333a8d384dceebedba8d82a52d81e381b14fd
address: one1djpn82xnsnwwa0km4rvz55kcrcupk98a2mmt62
I want to note that in general I did not find any serious problems. Dex transactions proceeded as usual,
transactions take approximately 10-30

[2022-04-26 08:23] Felixfine commented on #114
21.04.22 Dex New RPC: (23 seconds)
21.04.22 Dex Mainnet RPC: (6 seconds)
21.04.22 Dapp New RPC: (16 seconds)
21.04.22 Dapp Mainnet RPC: (11 seconds)
22.04.22 Dex New RPC: (26 seconds)
22.04.22 Dex Mainnet RPC: (15 seconds)
22.04.22 Dapp New RPC: (26 seconds)
22.04.22 Dapp Mainnet RPC: (19 seconds)
23.04.22 Dex New RPC: (15 seconds)
23.04.22 Dex Mainnet RPC: (11 seconds)
23.04.22 Dapp New RPC: (16

[2022-04-26 16:24] 0xCLS commented on #114
Final Report (April 26, 2022)

My 0x wallet address: 0x46B474035E2d3Cb7B58a5E8ed643299f87574aDf
My ONE wallet address: one1g668gq67957t0dv2t68dvsefn7r4wjkl4vwm54

*******

Tuesday April 19

Connect Metamask with the existing RPC (api.harmony.one). Use any DEX of your choice and swap tokens. Replace the RPC with https://apitest.cf-harmony.io/ and perform the same swap. Capture both transactions and

[2022-04-27 14:06] jtrag commented on #114
Reporting back after one week of use in all browser profiles, apps, etc.  The new test api seemed to be slower at first, but shortly after that, the performance increased and has been very stable with only minor slowdowns from time to time which could have been other things and not just the RPC.

Overall, the new RPC seems faster and more stable than the current RPC, although honestly IMO, it coul

[2022-04-27 18:38] #116 closed, assigned to nobody

[2022-04-27 23:04] victaphu commented on #114
Hi @sophoah @LeoHChen

The following users have provided reports for the week of testing:
https://github.com/patrickmogul
https://github.com/tekhnomaster
https://github.com/creeperQ7
https://github.com/Tonybostonn
https://github.com/mirrormirage0
https://github.com/praxispoetic
https://github.com/0xCLS
https://github.com/Felixfine
https://github.com/jtrag

The following users responded to bounties

[2022-04-28 07:32] Joemnemonic commented on #114
Hello everyone, I'm a newbie just joined specifically for this test. I'm starting today. here is my first operation.

https://apitest.cf-harmony.io Dex New RPC: (4 seconds)
https://beta.explorer.harmony.one/tx/0xa305a81dbe838b7338d25af8be34a8225de84c355ea226679ec556824275089a

https://api.harmony.one Dex Mainnet RPC: (5 seconds)
https://beta.explorer.harmony.one/tx/0x5392b473355410d62ca5bfaccf2388

[2022-04-28 09:20] sophoah commented on #114
@here Thanks a lot everyone for all your submission. Please give me until end next week to review all the submission.

[2022-04-28 17:05] ILL-DIE-TRYING commented on #114
I won't be participating in this. Sorry just got too busy.

[2022-04-30 16:15] victaphu opened #117 "Use a new Shard1 RPC endpoint and report its performance and any issues encountered"
# Description
A new elastic RPC for Shard1 is now available to be used at https://api.s1.t.hmny.io. We are looking for sanity and stress-testing of the new RPC endpoint.

## Context
The endpoint should function the same as the Shard0 RPC and have the same set of APIs exposed(https://docs.harmony.one/home/developers/api). We are looking for comprehensive testing that will include:
1) regular tx, sm

[2022-05-04 07:38] Joemnemonic commented on #114
Hi guys, here is my weekly report. here all transactions. I counted the time for each. in general, it seemed to me that https://api.harmony.one works better, faster response and metamask opening, and some transactions were faster.

here is my ONE address: one1scj6a86uutj524yd3sppjrn7elc0n5fwsnzuwf

28.04.2022 https://apitest.cf-harmony.io Dex New RPC: (4 seconds)
https://beta.explorer.harmony.one/

[2022-05-04 09:27] sophoah commented on #114
Thank you very much everyone for all your feedback and submission.

Overall the experience of the new RPC has been pretty positive even though there were some hiccups. I am checking with @LeoHChen how I can reward you all. I am planning to let you how that will go by this Friday.

until then @jimbo2778 @MafiaCryptoX feel free to submit your one week report.

[2022-05-04 09:31] sophoah commented on #114
@Joemnemonic @Felixfine May I know in which country the test were originating from ?

[2022-05-04 11:18] Joemnemonic commented on #114
@sophoah does it have any serious significance? I'm sorry but I really don't want to answer, I'd like to remain anonymous sorry

[2022-05-04 11:24] sophoah commented on #114
understand no worries. It actually has because the backend DB where some of the data are coming from are located in a specific region/country, so if you are at the complete opposite that could explain why it was slower

[2022-05-04 11:45] jimbo2778 commented on #114
My basic findings:

New rpc 8 sec- claim rewards
https://explorer.harmony.one/tx/0x49daa95277b2a7fe3af3b1de9a2e0a0721043b19575ec8a3292013e9311ac71c

Old rpc 18 sec- claim rewards
https://explorer.harmony.one/tx/0x4d6bb7f83b5f8cf442d4e140cc134a26d420f1b78ba1dbcfb4a30e6e41920ab6
Failed to load tx completion and explorer link to tx.

General findings: new rpc speed is comparable to ankr, fuzz and fox

[2022-05-04 12:19] Joemnemonic commented on #114
I'm from Russia

[2022-05-05 06:18] sunodina13 commented on #114
Hello guys, I'm also from Russia, I don't know if this is the problem, but the main network worked better for me. I wouldn't say that the mainnet was much better, just that some transactions were a bit faster. opening metamask was faster. this is what I noticed.

[2022-05-05 06:20] Felixfine commented on #114
Hello guys, I'm also from Russia, I don't know if this is the problem, but the main network worked better for me. I wouldn't say that the mainnet was much better, just that some transactions were a bit faster. opening metamask was faster. this is what I noticed.

[2022-05-05 07:26] sophoah commented on #114
@patrickmogul @jtrag please send me your one address for me to proceed with the payment of the bounty, thanks

[2022-05-05 09:17] anykeyh commented on #114
Ok follow up after a week, I did those 3 transactions in a row:

- Claim rewards on Tranquil (simple 0.03 ONE gas fee transaction) => feel almost instant, about 0.5 second to Metamask to popup and 2~3s to get confirmation. 🎉
- Claim reward on Tranquil locked pool (complex 0.17 ONE gas fee transaction) =>About 8s to see metamask pop-up, then confirmed in about 4 seconds.
- Questing heroes on DFK (c

[2022-05-07 06:17] Felixfine commented on #114
Hello everyone again, any news today? it seems you wanted to update on friday but today is already saturday. I would like to get clarification, should those who have already completed testing wait for the rest of the participants? . I would like more accurate data on rewards. If there are any problems I would like to know about it.

[2022-05-07 06:28] sophoah commented on #114
Hey, sorry for inconvenience, I'll do that by today, I was hoping to get the 2 missing address (actually 3) but, I will go ahead and reward the first batch first.

[2022-05-07 06:41] Felixfine commented on #114
ok sir, thanks for reply

[2022-05-07 11:01] sophoah commented on #114
Hello everyone and congrats everyone,

I awarded 1300 ONE ($100 at $0.077/ONE) to the below individual
| hunter | address                                    | transaction hash                                                   |
|--------------------|--------------------------------------------|--------------------------------------------------------------------|
| @creeperQ7 | 0x997eF5b99AeaF12F5c

[2022-05-07 15:06] tekhnomaster commented on #114
Hi, my address is following! Thanks @sophoah

0x636A6aC54b1230903FfCd38AD5a22491cbB798c8

[2022-05-07 17:39] MeTaLaLA commented on #114
Good afternoon! I have completed several transactions. the rest of the transactions will be added at the end of the week.

1https://api.harmony.one dex https://explorer.harmony.one/tx/0xf524216bad1668ffce4380ed306c8dfd1e0850e668c5bb014b96df322e64048f (20 second)
2https://api.harmony.one dapp https://explorer.harmony.one/tx/0xbb84f53b7f3031af89be4622765db578d59e880ea22122343e486a3dcc66a849 (15 seco

[2022-05-07 18:11] Berlin1933 commented on #114
HI everyone, I was invited by a friend for the test I hope I'm not late. I copied the report form from one of the guys I hope you won't be offended sorry.
07.05 Dex New RPC: 3 seconds
https://beta.explorer.harmony.one/#/tx/0xb20354007bf1587a627f1fb16639a167bdfe0f7d3f3baa354cfaac6539f17d45
07.05 Dex Mainnet RPC: 7 seconds
https://beta.explorer.harmony.one/tx/0x4a8608a8a9c520cadde744cfb818c03b9e67a2

[2022-05-07 18:20] jtrag commented on #114
My apologies @sophoah for the delay.  I've had a lot going on and finally had a chance and remembered to get back to this.  You can send it to my personal Harmony address at:  0x793a4caBB6102AA30028e48CB552D8B290dAFD68 or one10yaye2akzq42xqpgujxt25kck2gd4ltgmz5drp

Thanks so much for this opportunity!  I'd be glad to assist with any further testing or participate in any other opportunities that I'

[2022-05-08 08:28] sunodina13 commented on #114
Hello, Im checked and it seems that the places for testing have not ended yet. I hope I'm not mistaken. here is my operation.

https://api.harmony.one Dex-swap https://explorer.harmony.one/tx/0x3e6702e8f6eb2821957be415f58b2591437796949eb91d3bf8338d561d9f8424  (transaction time 13 second)
https://api.harmony.one Dapp-stake https://explorer.harmony.one/tx/0xc8da2cf6fe597cff067b71f5b1831e8d1e8cd8580d

[2022-05-08 10:48] sophoah commented on #114
@Berlin1933 @MeTaLaLA @sunodina13 I am sorry but I will stop here for new submission.

[2022-05-08 10:51] sophoah commented on #114
@jtrag @tekhnomaster thanks for the address, I'll process it sometime next week along with @patrickmogul once I have his address

[2022-05-08 11:35] sunodina13 commented on #114
Very sorry to hear. in that case I'm done with it, thanks for letting me know as soon as possible.

[2022-05-09 18:29] jtrag commented on #114
Awesome!  Thanks, @sophoah 💙  Much appreciated :)

[2022-05-11 05:31] patrickmogul commented on #114
Hi @sophoah Easy Node Validator is good @ 0x3cb9F2120Ad5F5E1d58088b261053B62CaC0cdE8

[2022-05-11 07:35] sophoah commented on #114
Hello all,
Finally the last 3 rewards. Thank you everyone for your participations.

| user               | address                                    | transaction hash                                                   |
|--------------------|--------------------------------------------|--------------------------------------------------------------------|
| @jtrag          | 0x793a4caBB6102AA30028

[2022-05-11 07:35] #114 closed, assigned to nobody

[2022-05-11 07:40] tekhnomaster commented on #114
Thanks @soph, received here!
Also, the OffChain RPC will still be available?
Thanks!

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows

De: ***@***.***>
Enviado:quarta-feira, 11 de maio de 2022 04:35
Para: ***@***.***>
***@***.***>; ***@***.***>
Assunto: Re: [harmony-one/bounties] Use a new RPC endpoint for a week and report its performance and any issues encountered (

[2022-05-14 00:48] pandeykumar commented on #54
Following is the update with progress so far.  Btp work has been divided into 2 parts.  First release as icon-bridge with centralized relayer . Second release as BTP 2.0 with decentralized relayer.  We have completed the icon-bridge related work and deployed on testnet. In addition we have helped wonder.game deploy a version to support payment for NFT in Harmony with ICX in icon.
Intermediate upda

[2022-05-14 03:46] LeoHChen commented on #117
This bounty is approved for 10 testers with $100 ONE token each.

@diego1q2w and @victaphu please administer this bounty.

[2022-05-26 09:42] ayushkumar63123 commented on #115
I can add that. Please tell the bounty prize

[2022-06-19 11:37] percybolmer commented on #117
Any takers on this yet, or can I offer my services to start testing this?

[2022-06-19 15:34] victaphu commented on #117
Hi @percybolmer

Yup you can pick this up that would be great! Do you have enough info to start?

[2022-06-19 15:44] percybolmer commented on #117
I do belive so, any preference on the tools used during testing I should take into consideration or is it free to use what I want?

Etc, JavaScript SDK vs Go sdk.

[2022-06-19 15:53] victaphu commented on #117
Free to use any tool as long as we can script it and it conforms with the acceptance criteria. We're planning to automate the testing and run tests at scale

[2022-06-19 17:15] percybolmer commented on #117
Great, I'll setup a repo tonight and start working on a deploying a smart contract.

Just want to double check, is it 1000 USD ONE per tester or is it 100 USD one Per tester?

[2022-06-19 18:18] victaphu commented on #117
Its set to 1000 USD per tester for a max of two testers

[2022-06-19 21:49] percybolmer commented on #117
https://github.com/percybolmer/rpc-shard-testing/tree/feature/setupenv

Set up a Repository with some basic stuff for now.

The plan is to use Ganache+Truffle to test on the Localnet and setup smart contracts resembling a real dApp.
Once localnet tests are done it should be easy to switch to the MainNet (witch I changed to the new Shard)

Just need to figure out why Harmony Ganache gives my accoun

[2022-06-20 20:00] percybolmer commented on #117
Figured out the Ganache funding problem.

Now we can setup the project with a localnet and ganache easily.

To make testing easier I started a Unit test suite using Go.

Would the following testing tool for the RPC API endpoints be sufficient?
https://github.com/percybolmer/rpc-shard-testing/blob/feature/account_rpc_methods/rpctester/harmony_test.go

Mainly thinking about the results output, or if

[2022-06-21 12:46] percybolmer commented on #117
I have two tracks atm, I am having a hard time deciding on what path to take.

1. Using go unit tests for each RPC endpoint, adding contracts here.
      Usage is basically: ```go test --address="your adr" --url="networkurl"```
      Which outputs a report.json that looks like the following

[code]
2. Using Truffle tests (easiest solution according to me)

Usage: truffle test --network localnet
Ou

[2022-06-21 14:25] diego1q2w commented on #117
Hey @percybolmer!

Both solutions look great. If we get the option to choose we would prefer the Go path since most of the team is proficient with it, also that will give us more flexibility for more granular updates in the future, the output being one of them.

However, if the complexity is exponentially larger then feel free to stick with truffle as long as it fits the criteria.

[2022-06-22 08:37] percybolmer commented on #117
Thanks for the response diego, ive removed truffle from the repo and using only go now with ganache since its your preferred path.

Thanks for the input.

I am working on the sanity checks of the RPC methods atm (Slowly atm, been sick this week) But its comming along.

Just a question, https://docs.harmony.one/home/developers/api/methods/account-methods/getexploreraddress

The address is not a reg

[2022-06-22 09:25] percybolmer commented on #117
curl -H "Content-Type:application/json" -X GET "https://api.s1.t.hmny.io/address?id=0xB8260A7255A144a3Aea9b4f9ADB429f76BDC0251&tx_view=ALL&offset=5&page=2"

Actually, the Address call does not seem to work at all for either api.s0 and api.s1,  Either the docs are outdated or something wrong?

[2022-06-22 12:11] diego1q2w commented on #117
Thanks @percybolmer and wish you a speedy recovery.

That seems to be part of the explorer service, you can skip that method for now. Let me confirm with the team that's the case.

[2022-06-25 07:50] percybolmer commented on #117
https://github.com/percybolmer/rpc-shard-testing

Done with all the Transaction stuff and sanity checking them.
Moving onto Contracts and the rest of the Endpoints
Will probably be fast to implement those.

Anyways, Having a hard time figureing out how to perform a Staking Transaction
https://github.com/harmony-one/harmony/blob/24b093b752091fac59c6a4da32950cce04991094/staking/types/transaction.go#

[2022-06-26 12:27] ILL-DIE-TRYING commented on #70
I would be willing to take a whack at this if it were for more than $500. At my professional rates that would be 5 hours of work and it isn't enough. Even at half the rate I usually work at, it isn't enough hours. I haven't messed with packaging for some years but have 20 years experience as a Debian admin/user.

[2022-06-26 21:57] percybolmer commented on #117
Sanity tests and Duration calls for all endpoints mentioned in the DOCS are complete.
Some tests fails, because it does not match data types specified in the DOCS,
Some other tests fails because the RPC methods does not exists.
Often the docs says its a number, but returned type might be a string etc.
I can change that easily if wanted, But i Left it so that you guys can find missmatches easily.

[2022-06-27 14:27] percybolmer commented on #117
@diego1q2w @victaphu , sorry to disturbe, I know times are harsh atm and you are probably swarmed.

Can I get a confirmation that Bounty is still active before proceeding to finish the task?
Talked to Soph on discord who thought so, If I started before the whole incident, which I did.

Would just be nice with a little "keep going"

[2022-06-27 16:28] diego1q2w commented on #117
Sorry @percybolmer, we've been a bit busy. But, don't worry the 2k were previously allocated for this bounty independently the current situation. So to sum up, yes the bounty is still active and yes you can claim the 2k as long as it fits the criteria :)

You are doing a fenomenal job, keep going.

[2022-06-28 06:00] victaphu commented on #117
Agreed @percybolmer you're doing great and really appreciate the effort

Keep it up!

[2022-06-28 19:14] percybolmer commented on #117
Thanks for Confirming guys! Ill keep going then.

Just a question,

For the Staking Transaction Endpoint, I have a problem with how to manage this...
Either I initiate a Staking transaction By delegation ONE to a known Validator,

This would cost some ONE though.
Dont know if you guys know any good alternative solution for this.

[2022-06-29 01:01] victaphu commented on #117
@diego1q2w any idea?

I think there is ONE faucet but the issue is that you need minimum for delegating
Maybe we can set it up without testing and we can do the testing on our side?

[2022-06-29 17:30] diego1q2w commented on #117
@percybolmer for staking, that will be done only for testnet so that's ok, for now pick any testnet validator.

[2022-06-30 13:34] percybolmer commented on #117
Thanks!

All sanity stuff is basically done.
Depending on the network used the results differ ALOT.

There seems to be many differences on the returned data types on the diffrent RPCs.
But I guess thats why the tool might be needed :D

Began on the stress testing.

https://github.com/percybolmer/rpc-shard-testing/tree/feautre/stress-test

You can confiugre how many requests to send each endpoint,

[2022-06-30 21:05] percybolmer commented on #117
Hey @diego1q2w  and @victaphu.

Just pushed and finalized the Stress testing.
https://github.com/percybolmer/rpc-shard-testing
Master branch has the latest.

The software now supports the following

1. Santiy checking all endpoints by performing transactions, sometimes multiple to verify errors, very easy to add more test cases to each endpoint since I leverage Table driven tests.

You can trigger

[2022-07-04 06:57] diego1q2w commented on #117
Thanks @percybolmer, sure thing. We will run a couple of test and then we can move to the good stuff (Payday). If anything we will post any questions here.

[2022-07-05 07:14] percybolmer commented on #117
Sure! Hope it's to your liking!

[2022-07-07 11:25] diego1q2w commented on #117
@percybolmer thanks for your time and work the tool works as expected.
Please fill [this form]( https://harmony.one/invoices-one) with 2000 USD.
for "**_Link to your public timesheet - must use Github or Notion_**" field link this bounty
for "**_Who from the core team approved your work_**" field type **_Leo Chen_**

Usually those forms are paid on Fridays but if there is a high throughput of requ

[2022-07-07 11:39] percybolmer commented on #117
Thanks Diego for your swift handling and swift response to all my previous questions.

This has been a super pleasant experience, I will for sure be on the lookout for more Harmony Bounties.

[2022-07-08 20:18] percybolmer commented on #117
Sorry to disturb again, guess there was a delay. No worries,

Forgot to ask, I provided my eth addr, Are the funds received on ETH side or ONE Side?
Considering the current depeg id very much prefer ETH side of things :)

[2022-07-11 04:24] victaphu commented on #117
If you've submitted it should be paid out in USDC on ETH (there will be an option)

Let me follow up, what's your public key if you don't mind sharing, or you can ping me in discord (look for victa in the harmony discord)

[2022-07-11 18:34] percybolmer commented on #117
Thanks Victa! No worries though, they where recieved just fine today !

Thanks a ton for a great Bounty, hope to see more in the future

[2022-07-12 07:59] victaphu commented on #117
Awesome and thank you for the great work

@diego1q2w please confirm if we can close this thanks!

[2022-07-12 15:56] diego1q2w commented on #117
Yes @victaphu we can close it and thanks again @percybolmer

[2022-07-12 16:05] victaphu commented on #117
Closing Ticket! Thanks @diego1q2w @percybolmer

[2022-07-12 16:05] #117 closed, assigned to diego1q2w

[2022-07-30 16:58] Devseale commented on #65
Also had same problem with mine and this customer support helped me, this is their live chat code
![qr-code-livechat](https://user-images.githubusercontent.com/110301362/181933566-d9206f08-51c4-49c1-bccc-659335db89db.png)
https://direct.lc.chat/14345826/

[2022-08-02 21:30] percybolmer commented on #109
This bounty still active for 500$ USD?

[2022-09-04 02:46] victaphu opened #118 "Encode Hackathon - create an example NFT marketplace (1155 and 721 paid using HRC20/ONE)"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk) and to

Using the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk), create an NFT Marketplace to allow a user to buy/sell HRC721 and HRC1155 tokens using HRC20 tokens or ONE tokens

## Context
The purpo

[2022-09-04 03:23] victaphu opened #119 "Encode Hackathon - create an NFT game with token utility (e.g. token gating) using the sdk and onchain VRF"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk)

Using the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk), create an NFT Game utilising token gating using the marketplace SDK and [onchain VRF](https://docs.harmony.one/home/developers/tools/harmony-

[2022-09-04 03:32] victaphu opened #120 "Encode Hackathon - integrate NFTs with the SMS wallet using the SDK"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk) and integration of the SDK with the [SMS Wallet](https://github.com/polymorpher/sms-wallet)

Using the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk), integrate with the SMS Wallet to show users' NFT

[2022-09-04 06:24] victaphu opened #121 "Encode Hackathon - create a visualisation / analytics tool for HRC20/721/1155 transactions"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk).

Using the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk), create a visualisation and analytics tool that allows a user to enter a number of wallet addresses into a viewer to view all transactions an

[2022-09-04 06:31] victaphu opened #122 "Encode Hackathon - create a tutorial using the NFT SDK and harmony VRF to issue random NFTs to users"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk).

Using the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk), create a tutorial that demonstrates using the NFT SDK and [Harmony's VRF](https://docs.harmony.one/home/developers/tools/harmony-vrf) to acc

[2022-09-04 06:42] victaphu opened #123 "Encode Hackathon - create a dapp that allows multiple users to stake together on the harmony protocol (like pooltogether) where users can use the staking rewards to purchase an NFT"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk)

Using the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk) and staking APIs allow users to stake some ONE tokens into a smart contract, get governance tokens, use those tokens to vote on the purchase o

[2022-09-04 06:49] victaphu opened #124 "Encode Hackathon - Bug bounty for Harmony Marketplace SDK (enhancements PR)"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk)

## Context
Create enhancements and useful additions to the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk) and do a PR to the repository. Limited to 3 submissions

# Acceptance Criteria
* [ ] Document

[2022-09-04 06:49] victaphu opened #125 "Encode Hackathon - Bug bounty for Harmony Marketplace SDK (Coding errors / Bugs)"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk)

## Context
Identify software / api / coding errors in the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk) and do a PR to fix the errors. Limited to 5 submissions

# Acceptance Criteria
* [ ] Document

[2022-09-04 06:49] victaphu opened #126 "Encode Hackathon - Bug bounty for Harmony Marketplace SDK (Documentation Error)"
# Description
Related to the Encode Hackathon, this bounty is for promotion of the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk)

## Context
Identify documentation errors in the [Harmony Marketplace SDK](https://github.com/blockcoders/harmony-marketplace-sdk) and do a PR to fix the errors. Limited to 10 errors found in the SDK

# Acceptance Criteria
* [ ] Docume

[2022-09-04 06:54] victaphu opened #127 "Encode Hackathon Bug Bounty List"
This is a list of all the bug bounties issued for the Encode hackathon
* [ ] https://github.com/harmony-one/bounties/issues/118
* [ ] https://github.com/harmony-one/bounties/issues/119
* [ ] https://github.com/harmony-one/bounties/issues/120
* [ ] https://github.com/harmony-one/bounties/issues/121
* [ ] https://github.com/harmony-one/bounties/issues/122
* [ ] https://github.com/harmony-one/bountie

[2022-09-06 23:01] victaphu commented on #118
@jacksteroo please review and confirm

[2022-09-06 23:01] victaphu commented on #119
@jacksteroo please review and confirm

[2022-09-06 23:01] victaphu commented on #120
@jacksteroo please review and confirm

[2022-09-06 23:01] victaphu commented on #121
@jacksteroo please review and confirm

[2022-09-06 23:01] victaphu commented on #122
@jacksteroo please review and confirm

[2022-09-06 23:01] victaphu commented on #123
@jacksteroo please review and confirm

[2022-09-06 23:01] victaphu commented on #124
@jacksteroo please review and confirm

[2022-09-06 23:02] victaphu commented on #125
@jacksteroo please review and confirm

[2022-09-06 23:02] victaphu commented on #126
@jacksteroo please review and confirm

[2022-09-06 23:15] jacksteroo commented on #118
Confirmed.

Working website must be of production quality, similar to marketplaces such as OpenSea, NFTKey, TofuNFT, Magic Eden, NFTically, etc.  Demo video should be informational, think Coursera or Udemy, limit to 10 minutes.

[2022-09-06 23:18] jacksteroo commented on #119
Confirmed.

Game should be fun to play, could be simple retro arcade games like Lunar Lander, Asteroids, Centipede or classics like  Flappy Bird and Mario Brothers.

Working website must be of production quality. Demo video should be informational, think Coursera or Udemy, limit to 10 minutes.

[2022-09-06 23:22] jacksteroo commented on #120
Confirmed.

Working website must be of production quality, with simple interactions with, say a point-of-sale service purchasing NFTs. Demo video should be informational, think Coursera or Udemy, limit to 10 minutes.

[2022-09-06 23:25] jacksteroo commented on #121
Confirmed.

Working website must be of production quality, similar to banking, investment or tax websites; think beyond block explorer, but into real world websites such as Chase, Fidelity, or Intuit Turbotax, etc. showing multiple account activities.  Demo video should be informational, think Coursera or Udemy, limit to 10 minutes.

[2022-09-06 23:27] jacksteroo commented on #122
Confirmed.

Working website must be of production quality, with fun to receive loot boxes; think WePay Red packets, Clash Royale loot boxes, Las Vegas slot machines, etc. Demo video should be informational, think Coursera or Udemy, limit to 10 minutes.

[2022-09-06 23:33] jacksteroo commented on #123
Confirmed.

Working website must be of production quality, with integration with the abovesaid NFT Marketplaces ([NFTKey](https://nftkey.app/one), [MADnft](https://madnfts.io/), [TofuNFT](https://tofunft.com/harmony)). Smart contract must be reviewed and audited by the Harmony, Encode and/or a security DAO like [TruthSeekers](https://truthseekerskyc.com/).  Demo video should be informational, thin

[2022-09-06 23:34] jacksteroo commented on #124
Confirmed

[2022-09-06 23:34] jacksteroo commented on #125
Confirmed

[2022-09-06 23:36] jacksteroo commented on #126
Confirmed

[2022-09-27 16:51] j05u3 commented on #126
- The *approve*, *allowance* and *transferFrom* functions in HRC20 had a wrong description
- The *contractURI* function in HRC721 had a wrong description
- tokenURI on HRC721 didn't have a parameter in the example code

PR: https://github.com/blockcoders/harmony-marketplace-sdk/pull/54

We also added more details to the documentation about the functions of HRC20, HRC721 and HRC1155 according to th

[2022-10-18 05:05] victaphu commented on #126
hi @j05u3 thanks for the PR, let me get the blockcoders folks to confirm and we can start approving it

[2022-10-18 05:15] victaphu commented on #126
hey @j05u3 did you find any other documentation improvements?

[2022-10-18 05:18] j05u3 commented on #126
we couldn't find other improvements, only the ones on the PR

[2022-10-31 10:03] victaphu opened #128 "Explorer Database Investigation and Scalability"
# Description
Analyse and suggest restructure of explorer database

## Context
Explorer had scalability issues which caused it to use a large amount of resources. Harmony engaged with Russel to analyse the database structure and provide some recommendations to improve the scalability.
The following tasks were performed:

1. Restructure the schema to direct the references using numeric keys than st

[2022-10-31 13:11] sophoah commented on #128
can we move that under tracking repo instead, also I would involve @hypnagonia.

Right now my concern is that I didn't see any of those deliverables hopefully @hypnagonia did

[2022-11-01 03:51] rude69 opened #129 "123"
///////////// PLEASE READ FIRST /////////////
For feature requests and project proposals please use the forum instead: https://talk.harmony.one/c/funding-proposals/bounties/45
///////////////////////////////////////////////////////////

# Description
[a short paragraph to describe the bounty]

## Context
[background and why]

# Acceptance Criteria
* [x] [description on how this bounty can be compl

[2022-11-06 22:42] rude69 opened #130 "1"
///////////// PLEASE READ FIRST /////////////
For feature requests and project proposals please use the forum instead: https://talk.harmony.one/c/funding-proposals/bounties/45
///////////////////////////////////////////////////////////

# Description
[a short paragraph to describe the bounty]

## Context
[background and why]

# Acceptance Criteria
* [x] [description on how this bounty can be compl

[2022-11-17 17:55] protocolwhisper commented on #122
Hi, may you explain further the loot boxes topic? @jacksteroo